<div class="media-library-details @container/details">
  <div class="media-library-details__body">
    <section class="media-library-details__main">
      <%= link_to helpers.avo.media_library_index_path,
        class: "media-library-details__close media-library-details__close--main",
        title: t("avo.close"),
        data: {
          tippy: :tooltip
        } do %>
        <%= helpers.svg "tabler/outline/x", class: "size-5" %>
      <% end %>

      <div class="media-library-details__preview-shell">
        <div class="media-library-details__preview-frame">
          <% if @blob.image? %>
            <%= image_tag helpers.main_app.url_for(@blob.variant(resize_to_limit: [1400, 1400])), class: "media-library-details__preview-image", loading: :lazy %>
          <% elsif @blob.audio? %>
            <%= audio_tag helpers.main_app.url_for(@blob), controls: true, preload: false, class: "media-library-details__preview-audio" %>
          <% elsif @blob.video? %>
            <%= video_tag helpers.main_app.url_for(@blob), controls: true, preload: false, class: "media-library-details__preview-video" %>
          <% else %>
            <div class="media-library-details__preview-placeholder">
              <%= helpers.svg "tabler/outline/file-text", class: "media-library-details__preview-placeholder-icon" %>
            </div>
          <% end %>
        </div>

        <div class="media-library-details__actions">
          <%= render Avo::ButtonComponent.new(helpers.main_app.url_for(@blob), is_link: true, style: :text, download: true) do %>
            Download
          <% end %>

          <%= a_button style: :text,
            type: :button,
            data: {
              controller: "copy-to-clipboard",
              text: helpers.main_app.url_for(@blob),
              action: "click->copy-to-clipboard#copy"
            } do %>
            Copy URL to clipboard
          <% end %>

          <%= a_button style: :text,
            color: :red,
            url: helpers.avo.media_library_path(@blob),
            method: :delete,
            data: {
              turbo_confirm: "Are you sure you want to destroy this attachment?"
            } do %>
            Delete
          <% end %>
        </div>
      </div>
    </section>

    <aside class="media-library-details__sidebar">
      <div class="media-library-details__sidebar-panel">
        <%= render partial: "avo/media_library/information", locals: {blob: @blob} %>
        <%= render partial: "avo/media_library/form", locals: {blob: @blob} %>
      </div>
    </aside>
  </div>
</div>
