<div class="media-library-details @container/details">
  <div class="media-library-details__body">
    <section class="media-library-details__main">
      <%= link_to helpers.avo.media_library_index_path,
        class: "media-library-details__close media-library-details__close--main",
        title: t("avo.close"),
        data: {
          tippy: :tooltip
        } do %>
        <%= helpers.svg "tabler/outline/x", class: "size-5" %>
      <% end %>

      <%= render partial: "avo/media_library/preview", locals: {blob: @blob} %>
    </section>

    <aside class="media-library-details__sidebar">
      <div class="media-library-details__sidebar-panel">
        <%= render partial: "avo/media_library/information", locals: {blob: @blob} %>
        <%= render partial: "avo/media_library/form", locals: {blob: @blob} %>
      </div>
    </aside>
  </div>
</div>
