<%= link_to helpers.avo.edit_media_library_path(blob),
  id: dom_id(blob),
  class: "grid-card",
  data: do %>
  <% if false && @attaching %>
    <div class="media-library__item-select-badge">
      <div class="media-library__item-select-badge-border">
        <%= helpers.svg "tabler/outline/check", class: "media-library__item-select-icon" %>
      </div>
    </div>
  <% end %>
  <% blob_url = helpers.safe_blob_url(blob) %>
  <% representation_url = helpers.safe_blob_representation_url(blob.variant(resize_to_limit: [600, 600])) if blob.image? %>
  <div class="grid-card__image">
    <% if representation_url %>
      <%= image_tag representation_url, class: "media-library__item-thumbnail-image #{@extra_classes}", loading: :lazy, width: blob.metadata["width"], height: blob.metadata["height"] %>
    <% elsif blob.audio? && blob_url %>
      <%= audio_tag(blob_url, controls: true, preload: false, class: 'w-full') %>
    <% elsif blob.video? && blob_url %>
      <%= video_tag(blob_url, controls: true, preload: false, class: 'w-full') %>
    <% else %>
      <div class="media-library__item-thumbnail-placeholder">
        <%= helpers.svg "tabler/outline/file-text", class: "media-library__item-thumbnail-placeholder-icon" %>
      </div>
    <% end %>
  </div>
  <div class="grid-card__content">
    <% if @display_filename %>
      <span class="grid-card__title--truncate" title="<%= blob.filename %>"><%= blob.filename %></span>
    <% end %>
    <span class="grid-card__description"><%= helpers.number_to_human_size(blob.byte_size) %></span>
  </div>
<% end %>
