<%= link_to helpers.avo.media_library_path(blob),
  id: dom_id(blob),
  class: "grid-card",
  data: do %>
  <% if false && @attaching %>
    <div class="media-library__item-select-badge">
      <div class="media-library__item-select-badge-border">
        <%= helpers.svg "tabler/outline/check", class: "media-library__item-select-icon" %>
      </div>
    </div>
  <% end %>
  <div class="grid-card__image">
    <% if blob.image? %>
      <%= image_tag helpers.main_app.url_for(blob.variant(resize_to_limit: [600, 600])), class: "media-library__item-thumbnail-image #{@extra_classes}", loading: :lazy, width: blob.metadata["width"], height: blob.metadata["height"] %>
    <% elsif blob.audio? %>
      <%= audio_tag(helpers.main_app.url_for(blob), controls: true, preload: false, class: 'w-full') %>
    <% elsif blob.video? %>
      <%= video_tag(helpers.main_app.url_for(blob), controls: true, preload: false, class: 'w-full') %>
    <% else %>
      <div class="media-library__item-thumbnail-placeholder">
        <%= helpers.svg "tabler/outline/file-text", class: "media-library__item-thumbnail-placeholder-icon" %>
      </div>
    <% end %>
  </div>
  <div class="grid-card__content">
    <% if @display_filename %>
      <span class="grid-card__title--truncate" title="<%= blob.filename %>"><%= blob.filename %></span>
    <% end %>
  </div>
<% end %>
