<%= render ui.panel(title: @attaching ? nil : t("avo.media_library.title"),
  data: {
    controller: 'media-library',
    media_library_controller_selector_value: params[:controller_selector],
    media_library_controller_name_value: params[:controller_name],
    media_library_item_details_frame_id_value: ::Avo::MEDIA_LIBRARY_ITEM_DETAILS_FRAME_ID,
  }) do |panel| %>
  <%= panel.with_controls do %>
    <% if false && @attaching %>
      <%= a_button data: {
        action: 'click->media-library#selectItems',
      } do %>
        Attach
      <% end %>
    <% end %>
  <% end %>

  <% panel.with_body do %>
    <% if !@attaching %>
      <%= content_tag :div,
        data: {
          controller: 'media-library-attach',
          media_library_attach_direct_uploads_url_value: helpers.main_app.rails_direct_uploads_url,
        } do %>
        <%= content_tag :div,
          data: {
            media_library_attach_target: 'dropzone',
            action: 'click->media-library-attach#triggerFileBrowser',
          } do %>
          <%= render Avo::UI::FileUploadInputComponent.new(
            id: "media-library-file-upload",
          ) %>
        <% end %>

        <%= content_tag :div, "", class: "media-library__uploading-container", data: {
          media_library_attach_target: 'uploadingContainer',
          turbo_permanent: true,
        } %>
      <% end %>
    <% end %>

    <div class="media-library__stack">
      <div class="media-library__grid grid-wrapper pt-4">
        <%= render Avo::MediaLibrary::ListItemComponent.with_collection(@blobs, attaching: @attaching, multiple: @attaching) %>
      </div>

      <%# TODO: fix the extra margin %>
      <%= helpers.turbo_frame_tag ::Avo::MEDIA_LIBRARY_ITEM_DETAILS_FRAME_ID, class: "media-library__details-frame" %>
    </div>

    <div class="pagination">
      <div class="pagination__per-page"></div>

      <div class="pagination__controls-wrap pt-4">
        <div class="pagination__controls">
          <div class="pagination__info">
            <span class="pagination__info-number"><%= formatted_number(@pagy.from) %>-<%= formatted_number(@pagy.to) %></span>
            &nbsp; of &nbsp;
            <% if @pagy.count >= 10_000 %>
              <span title="<%= formatted_count %>" data-tippy="tooltip">
                <%= number_to_social(@pagy.count, start_at: 10_000) %>
              </span>
            <% else %>
              <span><%= formatted_count %></span>
            <% end %>
          </div>

          <% if @pagy.pages > 1 %>
            <div class="pagination__nav">
              <%== formatted_series_nav %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
