<%= content_tag :td,
  class: class_names("group/clipboard px-2 leading-tight whitespace-nowrap h-full text-content text-sm",
    @classes,
    @field.get_html(:classes, view: @view, element: :wrapper),
    {
      "py-4": !@flush
    }),
  data: {
    field_id: @field.id,
    field_type: @field.type,
    **stimulus_attributes
  },
  style: @field.get_html(:style, view: @view, element: :wrapper) do %>
  <% if render_dash? %>
    —
  <% else %>
    <% if @center_content %>
      <div class="flex items-center justify-center leading-1">
        <%= content %>
      </div>
    <% else %>
      <%= content %>
    <% end %>
    <% if @field.copyable %>
      <%= render Avo::ClipboardComponent.new(value: @field.value) %>
    <% end %>
  <% end %>
  <% if params[:avo_debug].present? %>
    <!-- Raw value: -->
    <!-- <%= sanitize @field.value.inspect %> -->
  <% end %>
<% end %>
