<td class="min-h-[3rem] px-3 leading-tight whitespace-nowrap h-full text-slate-800 <%= classes %>" data-field-id="<%= @field.id %>" data-field-type="<%= @field.type %>">
  <% if @field.value.blank? && @dash_if_blank %>
    —
  <% else %>
    <% if @center_content %>
    <div class="flex items-center justify-center">
      <%= content %>
    </div>
    <% else %>
      <%= content %>
    <% end %>
  <% end %>
</td>
