<div
  class="relative bg-white rounded shadow-modal flex flex-col group"
  data-component-name="<%= self.class.to_s.underscore %>"
  <%== item_selector_init @resource %>
  data-resource-name="<%= @resource.class.to_s %>"
  data-record-id="<%= @resource.record.id %>"
>
  <%= content_tag :div,
    class: "relative w-full pb-3/4 rounded-t overflow-hidden #{html(:cover, :classes)}",
    style: html(:cover, :style) do %>
    <%= item_selector_input(floating: true, size: :lg) if @resource.record_selector%>
    <%= render_cover %>
  <% end %>
  <div class="grid grid-cols-1 place-content-between p-4 h-full">
    <div class="mb-4 h-full flex flex-col space-between">
      <%= render_title %>
      <%= render_body %>
    </div>
    <div class="w-full place-self-end">
      <%= render(Avo::Index::ResourceControlsComponent.new(resource: @resource, reflection: @reflection, parent_record: @parent_record, parent_resource: @parent_resource, view_type: :grid, actions: actions)) %>
    </div>
  </div>
</div>
