<% if resources.present? %>
  <%= turbo_frame_tag "#{resource.model_key}_calendar", target: "_top", class: "relative w-full" do %>
    <%= tag.div class: "my-6 shadow-xl" do %>
      <%= tag.div class: "flex items-center pb-2" do %>
        <%= link_to helpers.resources_path(resource:, view_type: 'calendar', date: Date.today) do %>
          Today
        <% end %>
        <%= link_to helpers.resources_path(resource:, view_type: 'calendar', date: prev_date) do %>
          <%= helpers.svg 'arrow-sm-left', class: 'h-6 w-6' %>
        <% end %>
        <%= link_to helpers.resources_path(resource:, view_type: 'calendar', date: next_date) do %>
          <%= helpers.svg 'arrow-sm-right', class: 'h-6 w-6' %>
        <% end %>
        <p class="font-bold text-xl">
          <%= date.strftime('%B %Y') %>
        </p>
      <% end %>

      <%= tag.div class: "grid grid-cols-7 bg-white" do %>
        <% Date::ABBR_DAYNAMES.rotate.each do |day| %>
          <%= tag.div class: "border border-gray-100 font-bold text-center" do %>
            <%= day %>
          <% end %>
        <% end %>
        <% month_offset.times do %>
          <div></div>
        <% end %>
        <% date.all_month.each do |day| %>
          <div class="border border-gray-100 px-0.5 min-h-24 <%= today_class(day) %>">
            <%= tag.div class: "text-right font-semibold" do %>
              <%= day.strftime('%d') %>
            <% end %>
            <%= tag.div class: "flex flex-col gap-2" do %>
              <% resources_for_day(day).each do |resource| %>
                <%= link_to helpers.resource_view_path(record: resource.record, resource:, view_type: params[:view_type]),
                            class: "bg-primary-100 hover:bg-primary-400 rounded px-1 py-0.5 text-xs text-black" do %>
                  <%= resource.record.name %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>

  <% end %>
<% else %>
  <div class="bg-white rounded shadow-panel"
    data-component-name="<%= self.class.to_s.underscore %>">
    <%= helpers.empty_state by_association: params[:related_name].present?, view_type: :grid %>
  </div>
<% end %>
