<% if @resources.present? %>
  <turbo-frame id="<%= @resource.model_key %>_list" target="_top" class="relative w-full">
    <div class="my-6 shadow-xl"
    <%= try :drag_reorder_attributes %>
    data-component-name="<%= self.class.to_s.underscore %>"
    data-selected-resources-name="<%= @resource.model_key %>" data-selected-resources="[]">

      <%= tag.div class: "flex justify-between py-2" do %>
        <p class="font-bold text-xl"><%= @date.strftime('%B %Y') %></p>
      <% end %>
      <%= tag.div class: "grid grid-cols-7 bg-white" do %>
      <% Date::ABBR_DAYNAMES.rotate.each do |day| %>
        <%= tag.div class: "border border-gray-100 font-bold text-center" do %>
          <%= day %>
        <% end %>
      <% end %>
      <% month_offset(@date).times do %>
        <%= tag.div %>
      <% end %>
      <% @date.all_month.each do |day| %>
        <%= tag.div class: "border border-gray-100 px-0.5 min-h-24#{today_class(day)}" do %>
          <%= tag.div class: "text-right font-semibold" do %>
            <%= day.strftime('%d') %>
          <% end %>
          <%= tag.div class: "flex flex-col gap-2" do %>
            <% @resources.filter {|r| r.record.created_at.beginning_of_day == day }.each do |resource| %>
              <%= link_to helpers.resource_view_path(record: resource.record, resource: resource),
                          class: "bg-primary-100 hover:bg-primary-400 rounded px-1 py-0.5 text-xs text-black" do %>
                <%= resource.record.name %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% end %>
    </div>
  </turbo-frame>
<% else %>
  <div class="bg-white rounded shadow-panel"
    data-component-name="<%= self.class.to_s.underscore %>">
    <%= helpers.empty_state by_association: params[:related_name].present?, view_type: :grid %>
  </div>
<% end %>
