<%# hover:z-[21] removed from tr class to solve flickering actions component on row controls and z-20 changed to z-21%>
<tr
  class="bg-white hover:bg-gray-50 hover:shadow-row relative z-21 border-b"
  data-component-name="<%= self.class.to_s.underscore %>"
  <%== item_selector_init @resource %>
  data-resource-name="<%= @resource.class.to_s %>"
  data-record-id="<%= @resource.record.id %>"
>
  <% if @resource.record_selector %>
    <td class="w-10">
      <div class="flex justify-center h-full">
        <%= item_selector_input floating: false %>
      </div>
    </td>
  <% end %>
  <% if Avo.configuration.resource_controls_on_the_left? %>
    <td class="text-right whitespace-nowrap px-2" data-control="resource-controls">
      <div class="flex items-center justify-end flex-grow-0 h-full w-full">
        <%= render(Avo::Index::ResourceControlsComponent.new(resource: @resource, reflection: @reflection, parent_record: @parent_record, parent_resource: @parent_resource, view_type: :table, actions: @actions)) %>
      </div>
    </td>
  <% end %>
  <% @resource.get_fields(reflection: @reflection, only_root: true).each_with_index do |field, index| %>
    <%= render field.component_for_view(:index).new(field: field, resource: @resource, reflection: @reflection, index: index, parent_record: @parent_record, parent_resource: @parent_resource) %>
  <% end %>
  <% if Avo.configuration.resource_controls_on_the_right? %>
    <td class="text-right whitespace-nowrap px-2" data-control="resource-controls">
      <div class="flex items-center justify-end flex-grow-0 h-full w-full">
        <%= render(Avo::Index::ResourceControlsComponent.new(resource: @resource, reflection: @reflection, parent_record: @parent_record, parent_resource: @parent_resource, view_type: :table, actions: @actions)) %>
      </div>
    </td>
  <% end %>
</tr>
