<%
  entities = [:button, :link]
  sizes = [:lg, :md, :sm].reverse
  styles = [:primary, :outline, :text]
  colors = [nil, :primary, :gray, :blue, :green, :red, :orange, :purple]
  states = [:regular, :hover, :disabled, :active]
  rounded = [true]
%>
<div class="px-6 space-y-4">
  <% entities.each do |entity| %>
    <h3><%= entity.to_s.humanize.capitalize.pluralize %></h3>
    <div class="flex flex-col space-y-4">
      <% sizes.each do |size| %>
        <div class="text-lg">size: <%= size %></div>
        <hr>
        <div class="flex flex-col space-y-1">
          <% styles.each do |style| %>
            <small class="font-bold"><%= style %></small>
            <% colors.each do |color| %>
              <%# next if style == :primary && color != :primary %>
              <div class="flex space-x-1">
                <small class="flex items-center w-20 font-mono"><%= color || "nil" %></small>
                <div class="flex space-x-1">

                  <% states.each do |state| %>
                    <% rounded.each do |rounded| %>
                      <%
                        extra_classes = ""
                        case state
                        when :active
                          extra_classes += " btn--active"
                        when :hover
                          extra_classes += " btn--hover"
                        end
                      %>
                      <%
                        a_button_or_link = :"a_#{entity}"
                        args = {icon: "heroicons/outline/arrow-left", style: style, color: color, size: size, class: extra_classes, disabled: state == :disabled, rounded:}
                      %>
                      <% if entity == :link %>
                        <div>
                          <%= render Avo::ButtonComponent.new(**args, is_link: entity == :link), '/admin/avo_private/design' do %>
                            <%= entity.to_s.humanize.capitalize %> <%= state %>
                          <% end %>
                        </div>
                      <% else %>
                        <div>
                          <%= render Avo::ButtonComponent.new(**args, is_link: entity == :button), **args do %>
                            <%= entity.to_s.humanize.capitalize %> <%= state %>
                          <% end %>
                        </div>
                        <div>
                          <%= render Avo::ButtonComponent.new(icon: "avo/bell", style: style, color: color, size: size, class: extra_classes, disabled: state == :disabled, is_link: false) %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
