<div>
  <% yield %>
  <div class="mb-6">
    <div class="text-2xl tracking-normal font-bold text-gray-900 truncate mb-3">
      <%= yield :heading %>
    </div>

    <div>
      <div class="mb-6">
        <%= yield :tools %>
      </div>
    </div>
  </div>

  <div class="relative bg-white rounded-xl shadow-xl mb-8">
    <%= yield %>
  </div>

  <div class="relative mb-8">
    <%= yield :bare_content %>
  </div>

  <div class="flex justify-end w-full">
    <div>
      <%= yield :footer %>
    </div>
  </div>
</div>
