<div>
  <% yield %>
  <div class="mt-3">
    <div class="text-2xl tracking-wide font-bold text-gray-900">
      <%= yield :heading %>
    </div>

    <div>
      <div class="mb-6">
        <%= yield :tools %>
      </div>
    </div>
  </div>

  <div class="relative bg-white rounded-xl shadow-xl mb-8 min-h-28">
    <%= yield %>
  </div>

  <div class="relative mb-8">
    <%= yield :bare_content %>
  </div>

  <div class="flex justify-end w-full">
    <div>
      <%= yield :footer %>
    </div>
  </div>
</div>
