<!DOCTYPE html>
<html>
<head>
  <title>Avo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= render partial: 'layouts/avo/javascript' %>

  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-200">

<div id="app" class="flex min-h-screen flex-row h-full">
  <app-layout class="flex flex-1 w-full"
    :router-key="routerKey"
    :layout="layout"
    inline-template
  >
    <div>
      <application-sidebar :resources='<%= Avo::App.get_resources_navigation(current_user).as_json.html_safe %>' v-if="layout !== 'blank'">
        <%= render_logo %>
      </application-sidebar>

      <div class="flex-1 h-full overflow-auto">
        <div class="relative bg-white p-2 shadow-md h-16 w-full flex items-center z-40" v-if="layout !== 'blank'">
          <div class="ml-6">
            <%= render_header %>
          </div>
          <div class="flex-1 flex justify-center">
            <div class="w-64">
              <resources-search :global="true">
            </div>
          </div>
        </div>

        <div v-if="layout === 'blank'" class="h-full w-full flex justify-center items-center">
          <%= yield %>
        </div>
        <div class="content p-8" v-else>
          <%= yield %>
          <%= render_footer %>
        </div>
      </div>
    </div>
  </app-layout>
</div>
</body>
</html>
