<!DOCTYPE html>
<html>
<head>
  <title>Avocado</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div id="app" class="flex min-h-screen flex-row h-full">
  <application-sidebar :resources='<%= Avocado::App.get_resources_navigation.as_json.html_safe %>'></application-sidebar>

  <div class="flex-1 h-full overflow-auto">
    <div class="fixed bg-white p-2 shadow-md h-16 w-full z-40 flex items-center">
      <resources-search :global="true" class="w-64">
    </div>

    <div class="content p-8 pt-24">
      <%= yield %>
    </div>
  </div>

</div>
</body>
</html>
