<!DOCTYPE html>
<html>
<head>
  <title>Avocado</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div id="app" class="flex min-h-screen">
  <%= render partial: 'avocado/partials/sidebar' %>

  <div class="flex-1">
    <div class="bg-white p-4 shadow-md">
      <resources-search :global="true" />
    </div>

    <div class="content p-8">
      <%= yield %>
    </div>
  </div>

</div>
</body>
</html>
