<div class="border-2 border-gray-200 rounded-md p-4 w-96 flex justify-center items-center">
  <div class="relative inline-flex" data-controller="dropdown">
    <%= render Avo::UI::IconButtonComponent.new(
      action: "click->dropdown#dropdownItemActions",
      icon: "tabler/outline/dots-vertical"
    ) %>

    <%= render Avo::UI::DropdownMenuComponent.new(
      data: {dropdown_target: "dropdownMenuComponent"},
    ) do %>
      <%= render Avo::UI::DropdownMenuItemComponent.new(
        title: "Source Code",
        icon: "tabler/outline/code",
        url: "https://github.com"
      ) %>
      <%= render Avo::UI::DropdownMenuItemComponent.new(
        title: "Documentation",
        icon: "tabler/outline/book",
        url: "https://docs.example.com"
      ) %>
      <%= render Avo::UI::DropdownMenuItemComponent.new(
        title: "Blog",
        icon: "tabler/outline/news",
        url: "https://example.com/blog"
      ) %>
    <% end %>
  </div>

</div>
