
<%= render Avo::PanelComponent.new(title: @dashboard.name, description: @dashboard.description) do |c| %>
  <% c.bare_content do %>
    <% if @dashboard.cards.present? %>
      <div class="min-h-24 grid-cols-6">
        <%= content_tag(:div, class: "grid gap-4 #{@dashboard.classes}") do %>
          <% @dashboard.cards.each do |card| %>
            <%= content_tag(:div, class: "relative bg-white rounded shadow-panel space-y-2 #{card.card_classes} overflow-hidden") do %>
              <turbo-frame id="<%= card.turbo_frame %>" src="<%= card.frame_url(enforced_range: @range) %>" target="_top">
                <%= render(Avo::LoadingComponent.new(title: card.label)) %>
              </turbo-frame>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="w-full h-full">
        <%= empty_state message: t('avo.no_cards_present') %>

        <% if Rails.env.development? %>
          <%= render Avo::PanelComponent.new do |c| %>
            <% c.body do %>
              <div class="p-6">
                <% # @todo: rephrase this and add link %>
                You can add cards to this dashboard following this tutorial
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
