<%= turbo_frame_tag "actions_show" do %>
  <div
    data-controller="action"
    data-no-confirmation="<%= @action.no_confirmation %>"
    data-action-target="controllerDiv"
    data-resource-name="<%= @resource.model_key %>"
    data-resource-id="<%= params[:id] %>"
    class="hidden text-slate-800"
  >
    <%= form_with model: @model,
      scope: 'fields',
      url: "#{@resource.records_path}/actions/#{@action.param_id}",
      local: true,
      data: @action.class.form_data_attributes do |form|
    %>
    <%= render Avo::ModalComponent.new do |c| %>
      <% c.heading do %>
        <%= @action.action_name %>
      <% end %>
      <div class="flex-1 flex">
        <%= @action.message %>
      </div>
      <%= form.hidden_field :resource_ids, value: params[:resource_ids], 'data-action-target': 'resourceIds' %>
      <% if @action.get_fields.present? %>
        <div class="mt-4">
          <% @action.get_fields.each_with_index do |field, index| %>
            <%= render field.component_for_view(:edit).new field: field, resource: @resource, index: index, form: form, displayed_in_modal: true %>
          <% end %>
        </div>
      <% end %>
      <% c.controls do %>
        <%= a_button data: { action: 'click->modal#close' },
          size: :sm,
          color: :primary do %>
          <%= @action.cancel_button_label %>
        <% end %>
        <%= a_button type: :submit,
            color: :primary,
            style: :primary,
            size: :sm,
            data: @action.class.submit_button_data_attributes do %>
          <%= @action.confirm_button_label %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>
