<%= turbo_frame_tag "actions_show" do %>
  <div
    data-controller="action"
    data-no-confirmation="<%= @action.no_confirmation %>"
    data-action-target="controllerDiv"
    data-resource-name="<%= @resource.model_key %>"
    data-resource-id="<%= params[:id] %>"
    class="hidden text-slate-800"
  >
    <%= form_with model: @model,
      scope: 'fields',
      url: "#{@resource.records_path}/actions",
      local: true,
      data: @action.class.form_data_attributes do |form|
    %>
    <%= render Avo::ModalComponent.new do |c| %>
      <% c.with_heading do %>
        <%= @action.action_name %>
      <% end %>
      <div class="flex-1 flex">
        <%= @action.get_message %>
      </div>
      <%= hidden_field_tag :action_id, @action.param_id %>
      <%= form.hidden_field :avo_resource_ids, value: params[:resource_ids], 'data-action-target': 'resourceIds' %>
      <%= form.hidden_field :avo_selected_query, 'data-action-target': 'selectedAllQuery' %>
      <% if @action.get_fields.present? %>
        <div class="my-4 -mx-6">
          <% @action.get_fields.each_with_index do |field, index| %>
            <%= render field
              .hydrate(resource: @resource, model: @resource.model, user: @resource.user, view: @view)
              .component_for_view(@view)
              .new(field: field, resource: @resource, index: index, form: form, compact: true)
            %>
          <% end %>
        </div>
      <% end %>
      <% c.with_controls do %>
        <%= a_button type: :button,
          data: { action: 'click->modal#close' },
          size: :sm,
          color: :gray do %>
          <%= @action.cancel_button_label %>
        <% end %>
        <%= a_button type: :submit,
            color: :green,
            style: :primary,
            size: :sm,
            data: @action.class.submit_button_data_attributes do %>
          <%= @action.confirm_button_label %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>
