<div class="flex flex-col">
  <%= render Avo::PanelComponent.new(title: @resource.model.name) do |c| %>
    <% c.tools do %>
      <%= a_link('/admin', icon: 'heroicons/solid/academic-cap', style: :primary) do %>
        Primary
      <% end %>
    <% end %>

    <% c.body do %>
      <div class="flex flex-col p-4 min-h-24">
        <div class="space-y-4">
          <h3>Below there should be an image of this fish 🐠</h3>

          <% if form.present? %>
            <%= form.label :fish_type %>
            <%= form.text_field :fish_type, value: 'default type of fish', class: input_classes %>
            <br>

            <%= form.label :properties %>
            <%= form.text_field :properties, multiple: true, value: 'property 1', class: input_classes %>
            <%= form.text_field :properties, multiple: true, value: 'property 2', class: input_classes %>
            <br>

            <% form.fields_for :information do |information_form| %>
              <%= form.label :information_name %>
              <%= information_form.text_field :name, value: 'information name', class: input_classes %>
              <div class="text-gray-600 mt-2 text-sm">This is going to be passed to the model</div>
              <br>
              <%= form.label :information_history %>
              <%= information_form.text_field :history, value: 'information history', class: input_classes %>
              <div class="text-gray-600 mt-2 text-sm">This is going to be passed to the model</div>
              <br>
              <%= form.label :information_age %>
              <%= information_form.text_field :age, value: 'information age', class: input_classes %>
              <div class="text-gray-600 mt-2 text-sm">This is NOT going to be passed to the model</div>
            <% end %>

            <div data-controller="nested-form">
              <div class="text-gray-600 mt-2 text-sm">This is going to be passed to the model as nested attributes</div>
              <template data-nested-form-target="template">
                <%= form.fields_for form.object.types.blank? ? form.object.types.build : :types, child_index: 'NEW_RECORD' do |type_form| %>
                  <div class="nested-form-wrapper" data-new-record="<%= type_form.object.new_record? %>">
                    <%= type_form.label :title %>
                    <%= type_form.text_field :title, value: 'pirhana', class: input_classes %>
                    <button type="button" data-action="nested-form#remove">Remove type</button>
                    <%= type_form.hidden_field :_destroy %>
                  </div>
                <% end %>
              </template>

              <%= form.fields_for form.object.types.blank? ? form.object.types.build : :types do |type_form| %>
                <div class="nested-form-wrapper" data-new-record="<%= type_form.object.new_record? %>">
                  <%= type_form.label :title %>
                  <%= type_form.text_field :title, value: 'pirhana', class: input_classes %>
                  <button type="button" data-action="nested-form#remove">Remove type</button>
                  <%= type_form.hidden_field :_destroy %>
                </div>
              <% end %>

              <!-- Inserted elements will be injected before that target. -->
              <div data-nested-form-target="target"></div>
              <button type="button" data-action="nested-form#add">Add type</button>
            </div>

          <% end %>

          <p>
            The fish's name is <strong><%= @resource.model.name %></strong>. The ID of the record is <%= @resource.model.id %> and the tool's name is <strong><%= tool.class.to_s %></strong>.
          </p>

          <% if tool.has_fish_image? @resource.model.name.to_s.downcase.to_sym %>
            <%= image_tag tool.images[@resource.model.name.to_s.downcase.to_sym], loading: :lazy, class: 'rounded' %>
          <% end %>

          <%#== ap @resource.model %>
          <%#== ap tool %>
          <%#== ap params %>
          <%#== ap Avo::App.context %>
          <%#== ap current_user %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


