<div class="flex flex-col">
  <%= render Avo::PanelComponent.new(title: @resource.model.name) do |c| %>
    <% c.tools do %>
      <%= a_link('/admin', icon: 'heroicons/solid/academic-cap', style: :primary) do %>
        Primary
      <% end %>
    <% end %>

    <% c.body do %>
      <div class="flex flex-col p-4 min-h-24">
        <div class="space-y-4">
          <h3>There should be an image of this fish below 🐠</h3>

          <% if form.present? %>
            <%= form.label :fish_type %>
            <%= form.text_field :fish_type, value: 'default type of fish', class: input_classes %>
            <br>

            <%= form.label :properties %>
            <%= form.text_field :properties, multiple: true, value: 'property 1', class: input_classes %>
            <%= form.text_field :properties, multiple: true, value: 'property 2', class: input_classes %>
            <br>

            <% form.fields_for :information do |information_form| %>
              <%= form.label :information_name %>
              <%= information_form.text_field :name, value: 'information name', class: input_classes %>
              <div class="text-gray-600 mt-2 text-sm">This is going to be passed to the model</div>
              <br>
              <%= form.label :information_history %>
              <%= information_form.text_field :history, value: 'information history', class: input_classes %>
              <div class="text-gray-600 mt-2 text-sm">This is going to be passed to the model</div>
              <br>
              <%= form.label :information_age %>
              <%= information_form.text_field :age, value: 'information age', class: input_classes %>
              <div class="text-gray-600 mt-2 text-sm">This is NOT going to be passed to the model</div>
            <% end %>
          <% end %>

          <p>
            The fish's name is <strong><%= @resource.model.name %></strong>. The ID of the record is <%= @resource.model.id %> and the tool's name is <strong><%= tool.class.to_s %></strong>.
          </p>

          <p>
            <%= turbo_frame_tag "fish_custom_action_demo" do %>
              <% if params[:change_to].present? %>
                <%= params[:change_to] %>
              <% else %>
                This text will change when you press the <code class="p-1 rounded bg-sky-500 text-white">Turbo demo</code> button on the top.
              <% end %>
            <% end %>
          </p>

          <% if tool.has_fish_image? @resource.model.name.to_s.downcase.to_sym %>
            <%= image_tag tool.images[@resource.model.name.to_s.downcase.to_sym], loading: :lazy, class: 'rounded' %>
          <% end %>

          <%#== ap @resource.model %>
          <%#== ap tool %>
          <%#== ap params %>
          <%#== ap Avo::App.context %>
          <%#== ap current_user %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


