<div class="p-8 space-y-6 bg-white">
  <div class="text-sm font-medium text-content">Default</div>
  <%= content_tag :div,
    class: class_names("field-wrapper__content") do %>
    <%= tag.div class: "field-wrapper__content-wrapper" do %>
      <div class="field-wrapper__input">
        <input class="input__field w-full" placeholder="Value">
      </div>
      <div class="field-wrapper__help max-w-sm">This is a help text</div>
    <% end %>
  <% end %>

  <div class="text-sm font-medium text-content">Error</div>
  <%= content_tag :div,
    class: class_names("field-wrapper__content") do %>
    <%= tag.div class: "field-wrapper__content-wrapper" do %>
      <div class="field-wrapper__input">
        <input class="input__field input__field--error w-full" placeholder="Value">
      </div>
      <div class="field-wrapper__error max-w-sm">This is a error text</div>
    <% end %>
  <% end %>

  <div class="text-sm font-medium text-content">Loading</div>
  <%= content_tag :div,
    class: class_names("field-wrapper__content") do %>
    <%= tag.div class: "field-wrapper__content-wrapper" do %>
      <div class="field-wrapper__input">
        <input class="input__field input__field--loading w-full" placeholder="Value">
      </div>
      <div class="field-wrapper__help max-w-sm">This is a help text</div>
    <% end %>
  <% end %>

  <div class="text-sm font-medium text-content">Disabled</div>
  <%= content_tag :div,
    class: class_names("field-wrapper__content") do %>
    <%= tag.div class: "field-wrapper__content-wrapper" do %>
      <div class="field-wrapper__input">
        <input class="input__field w-full" placeholder="Disabled value" disabled>
      </div>
      <div class="field-wrapper__help">This is a help text</div>
    <% end %>
  <% end %>
</div>
