<%= render ui.panel(**args) do |panel| %>
  <% if @resource.cover_photo.present? %>
    <div class="panel__cover-photo">
      <% panel.with_cover_photo do %>
        <%= render Avo::CoverPhotoComponent.new cover_photo: @resource.cover_photo %>
      <% end %>
    </div>
  <% end %>

  <% panel.with_body do %>
    <%= render ui.card do |card| %>
      <% card.with_body do %>
        <%= render ui.description_list do %>
          <%= render Avo::Items::VisibleItemsComponent.new resource: @resource, item: @item, view: @view, form: @form, parent_component: @parent_component %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if sidebars.any? { |sidebar| sidebar.visible_items.any? } %>
    <% panel.with_sidebar do %>
      <div class="justify-between space-y-4">
        <% sidebars.each_with_index do |sidebar, index| %>
          <%= render Avo::ResourceSidebarComponent.new resource: @resource, sidebar: sidebar, params: params, view: view, form: @form, index: index %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
