<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Minimal Avo initialization for the dropdown preview only %>
    <%= javascript_tag nonce: true do %>
      window.Avo = window.Avo || { configuration: {} }
      Avo.configuration = Avo.configuration || {}
      Avo.configuration.stimulus_controllers = []
    <% end %>

    <%= stylesheet_link_tag "avo/application", "data-turbo-track": "reload", as: "style" %>
    <%= javascript_include_tag "avo/application", "data-turbo-track": "reload", defer: true %>
    <%= render partial: "avo/partials/branding" %>
  </head>

  <body>
    <div class="p-4"><%= yield %></div>
  </body>
</html>
