<%= edit_field_wrapper field: @field, index: @index, form: @form, resource: @resource, displayed_in_modal: @displayed_in_modal, full_width: true do %>
  <div
    data-controller="trix-field"
    data-trix-field-target="controller"
    data-resource-name="<%= @resource.model_key %>"
    data-resource-id="<%= @resource.model.id %>"
    data-attachments-disabled="<%= @field.attachments_disabled %>"
    data-attachment-key="<%= @field.attachment_key %>"
    data-hide-attachment-filename="<%= @field.hide_attachment_filename %>"
    data-hide-attachment-filesize="<%= @field.hide_attachment_filesize %>"
    data-hide-attachment-url="<%= @field.hide_attachment_url %>"
  >
    <% trix_id = "trix_#{@resource.name.underscore}_#{@field.id}" %>
    <trix-editor data-trix-field-target="editor" input="<%= trix_id %>" placeholder="<%= @field.placeholder %>"><%== @field.value %></trix-editor>
    <%= @form.text_area @field.id,
      id: trix_id,
      class: helpers.input_classes('w-full hidden', has_error: (@resource.model.present? and @resource.model.errors.include?(@field.id))),
      placeholder: @field.placeholder,
      disabled: @field.readonly
    %>
  </div>
<% end %>
