<%= field_wrapper(**field_wrapper_args, full_width: true) do %>
  <% button_classes = 'font-semibold inline-block pt-3 text-sm' %>
  <%= content_tag :div,
    data: {
      controller: "trix-body",
      trix_body_always_show_value: @field.always_show
    } do %>
    <div class="<%= class_names("trix-content border-none px-0 py-2 max-w-4xl", "hidden": !@field.always_show) %>" data-trix-body-target="content">
      <%= sanitize @field.value.to_s %>
    </div>
    <% unless @field.always_show %>
      <div class="hidden" data-trix-body-target="moreContentButton">
        <%= link_to t('avo.more_content'), 'javascript:void(0);', class: button_classes, data: { action: 'click->trix-body#toggleContent' } %>
      </div>
      <div class="hidden" data-trix-body-target="lessContentButton">
        <%= link_to t('avo.less_content'), 'javascript:void(0);', class: button_classes, data: { action: 'click->trix-body#toggleContent' } %>
      </div>
    <% end %>
  <% end %>
<% end %>
