<%= tag.div class: "sidebar-group", data: data do %>
  <% if item.name.present? %>
    <% if collapsable %>
      <button
        type="button"
        class="sidebar-group__header"
        data-action="click->menu#triggerCollapse"
        data-menu-target="trigger"
        aria-expanded="<%= !collapsed %>"
      >
        <span><%= item.name %></span>
        <span class="sidebar-group__icon sidebar-icon <%= 'sidebar-icon--collapsed' if collapsed %>"
          data-menu-target="svg"
        >
          <%= helpers.svg 'heroicons/outline/chevron-down' %>
        </span>
      </button>
    <% else %>
      <div class="sidebar-group__header">
        <%= helpers.svg icon, class: "sidebar-group__icon sidebar-icon" if icon.present? %>
        <span><%= item.name %></span>
      </div>
    <% end %>
  <% end %>

  <%= content_tag :div,
    hidden: collapsed,
    class: "sidebar-group__items",
    data: {
      menu_target: :items,
    } do %>
    <% @items.each do |item| %>
      <%= render Avo::Sidebar::ItemSwitcherComponent.new item: item %>
    <% end %>
  <% end %>
<% end %>
