<%= tag.div class: "sidebar-group", data: data do %>
  <% if item.name.present? %>
    <% if collapsable %>
      <button
        type="button"
        class="sidebar-group__header justify-between"
        data-action="click->menu#triggerCollapse"
        data-menu-target="trigger"
        aria-expanded="<%= !collapsed %>"
      >
        <div class="sidebar-group__header-inner">
          <span><%= item.name %></span>
        </div>
        <span class="sidebar-icon <%= 'sidebar-icon--collapsed' if collapsed %>"
          data-menu-target="svg"
        >
          <%= helpers.svg 'tabler/outline/chevron-down', class: 'h-4' %>
        </span>
      </button>
    <% else %>
       <div class="sidebar-group__header">
          <div class="sidebar-group__header-inner">
            <span><%= item.name %></span>
          </div>
       </div>
    <% end %>
  <% end %>

  <%= content_tag :div,
    hidden: collapsed,
    class: "sidebar-group__items",
    data: {
      menu_target: :items,
    } do %>
    <% @items.each do |item| %>
      <%= render Avo::Sidebar::ItemSwitcherComponent.new item: item, group_has_icons: group_has_any_icon? %>
    <% end %>
  <% end %>
<% end %>
