<div class="pb-2 space-y-1"
  <% if collapsable %>
    data-controller="menu"
    data-menu-target="self"
    data-menu-key-param="<%= key %>"
    data-menu-default-collapsed-state="<%= collapsed ? 'collapsed' : 'expanded' %>"
  <% end %>
>
  <% if item.name.present? %>
    <div class="flex justify-between px-10 pt-2 pb-0 text-gray-600 ">
      <div class="flex items-center text-xs uppercase font-semibold leading-none">
        <%= item.name %>
      </div>
      <% if collapsable %>
        <div class="cursor-pointer <%= 'rotate-90' if collapsed %>"
          data-action="click->menu#triggerCollapse"
          data-menu-target="svg"
          data-menu-key-param="<%= key %>"
          >
          <%= helpers.svg 'heroicons/outline/chevron-down', class: "h-4"%>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="w-full space-y-1 <%= 'hidden' if collapsed %>" data-menu-target="items">
    <% items.each do |item| %>
      <%= render Avo::Sidebar::ItemSwitcherComponent.new item: item %>
    <% end %>
  </div>
</div>
