<%= tag.div class: "sidebar__group", data: do %>
  <% if item.name.present? %>
    <% if collapsable %>
      <div
        class="sidebar__group__header sidebar__group__header--collapsable"
        data-action="click->menu#triggerCollapse"
        data-menu-key-param="<%= key %>"
      >
        <span class="sidebar__group__header-label">
          <%= item.name %>
        </span>
        <div class="sidebar__group__svg <%= 'sidebar__group__svg--collapsed' if collapsed %>"
          data-menu-target="svg"
        >
          <%= helpers.svg 'heroicons/outline/chevron-down' %>
        </div>
      </div>
    <% else %>
      <div class="sidebar__group__header">
        <div class="sidebar__group__header-label">
          <%= item.name %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= content_tag :div,
    hidden: collapsed,
    class: "sidebar__group__items",
    data: {
      menu_target: :items,
    } do %>
    <% @items.each do |item| %>
      <%= render Avo::Sidebar::ItemSwitcherComponent.new item: item %>
    <% end %>
  <% end %>
<% end %>
