<% if @collapsable %>
  <div class="sidebar__heading sidebar__heading--collapsable"
    data-action="click->menu#triggerCollapse"
    data-menu-key-param="<%= @key %>"
  >
    <span class="sidebar__heading__label-icon"><%= @icon %></span> <span><%= @label %></span>
    <div class="sidebar__heading__svg <%= 'sidebar__heading__svg--collapsed' if @collapsed %>"
      data-menu-target="svg"
    >
      <%= helpers.svg 'heroicons/outline/chevron-down' %>
    </div>
  </div>
<% else %>
  <div class="sidebar__heading">
    <span class="sidebar__heading__label-icon"><%= @icon %></span> <span><%= @label %></span>
  </div>
<% end %>
