<%= wrapper_element active: @active, active_class: "navigation-item--active", target: @target, data: @data, **@args do %>
  <% if item? %>
    <span class="navigation-item__icon-wrapper">
      <%= helpers.svg @icon, class: "navigation-item__icon" if @icon.present? %>
    </span>
  <% end %>
  <span class="navigation-item__label"><%= @label %></span>
  <% if show_counter? %>
    <span class="navigation-item__counter"><%= @counter %></span>
  <% end %>
  <% if @actions %>
    <%= helpers.svg "tabler/outline/dots", class: "navigation-item__actions-icon" %>
  <% end %>
<% end %>
