<% if @resources.present? %>
  <div class="map-view-container grid <%= grid_layout_classes %> w-full gap-4">
    <div class="map-component rounded-2xl overflow-hidden <%= map_component_order_class %>">
      <%= js_map(resource_location_markers, **resource_mapkick_options) %>
    </div>

    <% if render_table? %>
      <div class="overflow-auto <%= table_component_order_class %>">
        <%= render(@resource.resolve_component(Avo::ViewTypes::TableComponent).new(resources: @resources, resource: @resource, reflection: @reflection, parent_record: @parent_record, parent_resource: @parent_resource, pagy: @pagy, query: @query, actions: @actions, turbo_frame: @turbo_frame, index_params: @index_params)) %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="rounded-sm bg-white shadow-panel">
    <%= helpers.empty_state by_association: params[:related_name].present? %>
  </div>
<% end %>
