<div class="relative min-h-full max-w-full flex-1 space-y-3">
  <% if @file.present? %>
    <% if @file.representable? && @is_image %>
      <%= image_tag helpers.main_app.url_for(@file), class: 'rounded-lg max-h-168 max-w-full' %>
    <% else %>
      <div class="relative flex flex-col justify-evenly items-center px-2 rounded-lg border bg-white border-gray-500 min-h-48">
        <div class="flex flex-col justify-center items-center w-full">
          <%= helpers.svg 'document-text', class: 'h-12 text-gray-800 mb-2' %>
          <div class="block w-full truncate text-center text-sm">
            <%= @file.filename %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="flex justify-between">
      <%= a_link helpers.main_app.url_for(@file), color: 'indigo', download: true, class: '', size: :md do %>
        <%= helpers.svg 'download' %> <%= t('avo.download_file') %>
      <% end %>
      <%= a_link "/avo/resources/#{@resource.model.model_name.route_key}/#{@resource.model.id
      }/active_storage_attachments/#{@id}/#{@file.id}", color: :red, variant: :outlined, size: :md, class: '', 'data-turbo-frame': 'destroy_attachment_form', data: { confirm: t('avo.are_you_sure')} do %>
        <%= helpers.svg 'trash' %> <%= t('avo.delete_file', { item: @file.filename }) %>
      <% end %>
    </div>
  <% else %>
    –
  <% end %>
</div>
