<%= field_wrapper(**field_wrapper_args) do %>
  <% if @field.display_as_tabs? %>
    <div class="tabs tabs--switcher">
      <% @field.options.each do |key, value| %>
        <div class="tabs__item-wrapper tabs__item-wrapper--switcher">
          <label class="tabs__item tabs__item--switcher">
            <%= form.radio_button @field.id, key, checked: @field.option_checked?(key, value), class: "hidden" %>
            <span class="tabs__item-label"><%= value %></span>
          </label>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="flex flex-col gap-2">
      <% @field.options.each do |key, value| %>
        <%= form.label @field.id, value: key, class: "flex items-center gap-1 cursor-pointer w-fit" do %>
          <%= form.radio_button @field.id, key, checked: @field.option_checked?(key, value) %>
          <span><%= value %></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
