<div
  class="actions-dropdown relative flex w-full flex-col sm:w-auto"
  data-component-name="<%= self.class.to_s.underscore %>"
  data-controller="toggle actions-picker"
  data-actions-picker-enabled-class="text-content hover:bg-secondary"
  data-actions-picker-disabled-class="cursor-wait text-content/60"
  data-resource-name="<%= @resource.class.to_s %>"
  <% if @resource.record.present? %>
    data-record-id="<%= @resource.record_param %>"
  <% end %>
>

  <%= render ui.dropdown(
    classes: "z-100",
    data: {dropdown_list: @label},
    trigger_class: class_names(
      "button",
      "button--size-#{@size}",
      "button--style-#{@style}",
      "focus:outline-hidden",
      "button--color-#{@color}": @color.present?
    ),
    trigger_attrs: {
      data: {actions_dropdown_button: @resource.model_key, tippy: "tooltip", tippy_content: @title}
    }
  ) do |component| %>
    <% component.with_trigger do %>
      <%= helpers.svg(@icon, class: class_names("button__icon", @icon_class)) if @icon.present? %>
      <%= @label %>
    <% end %>
    <% component.with_items do %>
      <% @actions.each do |action| %>
        <%= render_item(action) %>
      <% end %>
    <% end %>
  <% end %>
</div>
