<div
  data-controller="alert"
  <% unless keep_open? %>
    data-alert-dismiss-after-value="<%= timeout %>"
  <% end %>
  data-alert-remove-delay-value="300"
  data-alert-show-class="ease-out opacity-100 translate-x-0"
  data-alert-hide-class="ease-in opacity-0 translate-x-10"
  class="<%= class_names(
    "alert transition duration-300",
    "hidden": is_empty?,
    "alert--#{variant}": !is_empty?,
  ) %>"
>
  <div class="alert__icon-wrapper">
    <%= helpers.svg icon, class: "alert__icon" %>
  </div>

  <div class="alert__body">
    <p class="alert__title"><%= sanitize @message.to_s %></p>

    <% if @description.present? %>
      <p class="alert__message"><%= sanitize @description.to_s %></p>
    <% end %>
  </div>

  <button
    type="button"
    data-action="alert#close"
    class="alert__close"
    aria-label="Close alert"
  >
    <%= helpers.svg "tabler/outline/x", class: "alert__close-icon" %>
  </button>
</div>
