<div class="related w-full -mt-[5.7rem] mb-4 flex flex-col">
  <% if cover_photo.present? %>
    <%= image_tag helpers.main_app.url_for(cover_photo), class: "w-full object-cover h-96" %>
  <% end %>
  <div class="flex">
    <% if true && profile_photo.present? %>
      <%= image_tag helpers.main_app.url_for(profile_photo), class: "relative ml-8 mr-4 -mt-12 rounded-full w-48 h-48 object-cover border-4 border-application" %>
    <% end %>
    <div class="flex flex-col mt-4">
      <div class="breadcrumbs mb-2">
        <%= helpers.render_avo_breadcrumbs(separator: helpers.svg('chevron-right', class: 'inline-block h-3 stroke-current relative top-[-1px] ml-1' )) if Avo.configuration.display_breadcrumbs %>
      </div>
      <div>
        <%= render Avo::PanelNameComponent.new name: @resource.record_title %>
      </div>
      <% if @resource.description.present? %>
        <div class="text-sm tracking-normal font-medium text-gray-600" data-target="description">
          <%== @resource.description %>
        </div>
      <% end %>
    </div>
  </div>
</div>
