<%= tag.div class: class_names(
  "discreet-information",
  "discreet-information--as-icon": as_icon?,
  "discreet-information--as-text": as_text?,
  "discreet-information--as-badge": as_badge?,
  "discreet-information--as-key-value": as_key_value?
), title: @tooltip do %>
  <% if as_icon? %>
    <%= helpers.svg @icon, class: "discreet-information__icon" %>
  <% elsif as_text? %>
    <div class="discreet-information__text">
      <%= helpers.svg @icon, class: "discreet-information__icon" %>
      <%= @text %>
    </div>
  <% elsif as_badge? %>
    <div class="discreet-information__badge">
      <div class="discreet-information__text">
        <%= helpers.svg @icon, class: "discreet-information__icon" %>
        <%= @text %>
      </div>
    </div>
  <% elsif as_key_value? %>
    <div class="discreet-information__key-value">
      <div class="discreet-information__key"><%= @key %></div>

      <div class="discreet-information__text">
        <%= helpers.svg @icon, class: "discreet-information__icon" %>
        <%= @text %>
      </div>
    </div>
  <% end %>
<% end %>
