<%= content_tag :div,
  id: dom_id(@field),
  class: classes,
  style: style,
  data: data do %>
  <%= content_tag :div,
    class: class_names("field-wrapper__label", @field.get_html(:classes, view: @view, element: :label)),
    data: {slot: "label"} do %>
    <span class="self-center">
    <% if @form.present? %>
      <%= @form.label label_for, label %>
    <% else %>
      <%= @field.name %>
    <% end %>
    <% if on_edit? && @field.is_required? %> <span class="text-red-600 ms-1">*</span> <% end %>
    <% if label_help.present? %>
      <div class="field-wrapper__label-help"><%== label_help %></div>
    <% end %>
    </span>
  <% end %>
  <%= content_tag :div,
    class: class_names("field-wrapper__content", @field.get_html(:classes, view: @view, element: :content)),
    data: {slot: "value"} do %>
    <%= tag.div class: "field-wrapper__content-wrapper" do %>
      <% if on_show? %>
        <div class="flex flex-row items-center group gap-x-1 group/clipboard">
          <% if render_dash? %>
            —
          <% else %>
            <%= content %>
          <% end %>
          <% if @field.copyable %>
            <%= render Avo::ClipboardComponent.new(value: @field.value) %>
          <% end %>
        </div>
      <% elsif on_edit? %>
        <div class="field-wrapper__input">
          <%= content %>
          <%= tag.span class: "input__spinner", "aria-hidden": "true" if @field.loading? %>
        </div>
        <% if @field.record_errors.include?(@field.id) %>
          <div class="field-wrapper__error"><%= @field.record_errors.full_messages_for(@field.id).to_sentence %></div>
        <% end %>
        <% if help.present? %>
          <div class="field-wrapper__help"><%== help %></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if params[:avo_debug].present? %>
    <!-- Raw value: -->
    <!-- <%= sanitize @field.value.inspect %> -->
  <% end %>
<% end %>
