<div data-controller="toggle" data-toggle-exemption-containers-value='[".flatpickr-calendar"]' data-component-name="<%= self.class.to_s.underscore %>">
  <div class="filters__bar">
    <%= a_button style: :outline,
      icon: "tabler/outline/filter",
      title: t('avo.click_to_reveal_filters'),
      'data-button': 'resource-filters',
      'data-action': 'click->toggle#togglePanel',
      'data-tippy': 'tooltip' do %>
      <%= t 'avo.filters' %>
      <% if applied_filters_count.positive? %>
        <%= render Avo::UI::CountComponent.new(count: applied_filters_count, classes: "ms-1") %>
      <% end %>
    <% end %>
    <%= tag.div class: 'filters__panel css-animate-slide-down',
      data: {toggle_target: 'panel'},
      hidden: params[:keep_filters_panel_open] != '1' do %>
      <%= render Avo::UI::DropdownCardComponent.new do |card| %>
        <% card.with_header do %>
          <span class="dropdown-card__title"><%= t('avo.filters') %></span>
        <% end %>
        <% card.with_body do %>
          <div class="filters-card__content">
            <div class="divide-y divide-secondary">
              <% @filters.each do |filter| %>
                <%= render partial: filter.class.template, locals: {filter: filter} %>
              <% end %>
            </div>
          </div>
        <% end %>
        <% card.with_footer do %>
          <% reset_disabled = @applied_filters.blank? %>
          <%= a_link(reset_disabled ? "#" : reset_path,
            style: :text,
            size: :sm,
            title: t('avo.reset_filters'),
            aria: {disabled: reset_disabled},
            tabindex: (reset_disabled ? -1 : nil),
            data: {
              turbo_frame: params[:turbo_frame],
              **(reset_disabled ? {disabled: true} : {})
            },
            class: class_names("w-full", "button--disabled": reset_disabled)) do %>
            <%= t('avo.reset_filters') %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
