<div data-controller="toggle" data-toggle-exemption-containers-value='[".flatpickr-calendar"]' data-component-name="<%= self.class.to_s.underscore %>">
  <div class="filters__bar">
    <%= a_button class: 'focus:outline-hidden',
      style: :primary,
      icon: "tabler/outline/filter",
      title: t('avo.click_to_reveal_filters'),
      'data-button': 'resource-filters',
      'data-action': 'click->toggle#togglePanel',
      'data-tippy': 'tooltip' do %>
      <%= t 'avo.filters' %>
      <% if @applied_filters.present? %>
        <span class="filters__count">(<%= "#{@applied_filters.count} #{t('avo.applied', count: @applied_filters.count)}" %>)</span>
      <% end %>
    <% end %>
    <%= tag.div class: 'filters__panel css-animate-slide-down',
      data: {toggle_target: 'panel'},
      hidden: params[:keep_filters_panel_open] != '1' do %>
      <%= render Avo::UI::DropdownCardComponent.new do |card| %>
        <% card.with_header do %>
          <div class="filters-header">
            <span class="filters-header__title"><%= t('avo.filters') %></span>
            <% if @applied_filters.present? %>
              <%= link_to reset_path, data: {turbo_frame: params[:turbo_frame]}, class: 'filters-reset filters-reset--active' do %>
                <%= t('avo.reset_filters') %>
              <% end %>
            <% else %>
              <span class="filters-reset filters-reset--disabled">
                <%= t('avo.reset_filters') %>
              </span>
            <% end %>
          </div>
        <% end %>
        <% card.with_body do %>
          <% @filters.each do |filter| %>
            <%= render partial: filter.class.template, locals: {filter: filter} %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
