<div
  data-controller="resource-filters"
  data-resource-filters-keep-filters-panel-open-value="<%= @resource.keep_filters_panel_open %>"
  data-component-name="<%= self.class.to_s.underscore %>"
>
  <%= a_button class: "focus:outline-hidden filters-panel-trigger",
    style: :primary,
    icon: "avo/filter",
    title: t('avo.click_to_reveal_filters'),
    'data-button': 'resource-filters',
    'data-tippy': 'tooltip',
    popovertarget: "filters-panel-#{@resource.model_key}" do %>
    <%= t 'avo.filters' %>
    <% if @applied_filters.present? %>
      <span>(<%= "#{@applied_filters.count} #{t('avo.applied', count: @applied_filters.count)}" %>)</span>
    <% end %>
  <% end %>

  <%= render Avo::UI::PopoverComponent.new(
    id: "filters-panel-#{@resource.model_key}",
    classes: "filters-panel popover-anchor mac-styled-scrollbar css-animate-dialog-slide-down",
    anchor: "filters-panel-anchor"
  ) do |component| %>
    <% component.with_header do %>
      <div class="filters-panel__header">
        <div class="filters-panel__title"><%= t("avo.filters") %></div>
        <% if @applied_filters.present? %>
          <%= link_to t("avo.reset_filters"),
            reset_path,
            class: "filters-panel__reset",
            data: {turbo_frame: params[:turbo_frame]} %>
        <% else %>
          <%= button_tag t("avo.reset_filters"),
            type: :button,
            class: "filters-panel__reset",
            disabled: true %>
        <% end %>
      </div>
    <% end %>

    <% component.with_body do %>
      <div class="filters-panel__body">
        <% @filters.each do |filter| %>
          <%= render partial: filter.class.template, locals: {filter: filter} %>
        <% end %>
      </div>
    <% end %>

    <% component.with_footer do %>
      <button
        type="button"
        class="filters-panel__apply"
        data-action="resource-filters#applyFilters"
      >
        <%= t("avo.apply_filters", default: "Apply Filters") %>
      </button>
    <% end %>
  <% end %>

  <%= link_to "url_redirect",
    request.url,
    data: {"resource-filters-target": "urlRedirect", turbo_frame: params[:turbo_frame]},
    class: "hidden" %>
</div>
