<div class="header-overflow" data-controller="header-overflow">
  <div class="header-overflow__row" data-header-overflow-target="row">
    <%= content %>
  </div>

  <%= render Avo::UI::DropdownComponent.new(popover_mode: true, classes: "header-overflow__popover") do |dropdown| %>
    <% dropdown.with_trigger do %>
      <button type="button"
              class="color-scheme-switcher__compact-trigger header-overflow__trigger"
              popovertarget="<%= dropdown.popover_id %>"
              aria-label="More links"
              aria-haspopup="menu"
              aria-controls="<%= dropdown.popover_id %>"
              aria-expanded="false"
              data-header-overflow-target="trigger">
        <%= helpers.svg "tabler/outline/menu-2", class: "color-scheme-switcher__icon header-overflow__icon-hamburger", aria_hidden: true %>
        <span class="header-overflow__label-more text-xs">more</span>
        <%= helpers.svg "tabler/outline/chevron-down", class: "color-scheme-switcher__chevron", aria_hidden: true %>
      </button>
    <% end %>
    <% dropdown.with_items do %>
      <%= content %>
    <% end %>
  <% end %>
</div>
