<% if item.is_tool? %>
  <% if item&.partial.present? %>
    <%= render item.partial, tool: item, form: @form %>
  <% end %>
<% elsif item.is_panel? %>
  <%= render Avo::PanelComponent.new(name: item.name, description: item.description, index: index) do |c| %>
    <% c.with_body do %>
      <div class="divide-y">
        <% item.visible_items.each_with_index do |field, index| %>
          <%= render Avo::ItemSwitcherComponent.new resource: @resource, item: field, index: index, view: @view, form: form %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% elsif item.is_tab_group? %>
  <%= render tab_group_component %>
<% elsif item.is_field? %>
  <%= render field_component %>
<% elsif item.is_row? %>
  <%= render Avo::RowComponent.new do |c| %>
    <% c.with_body do %>
      <% item.visible_items.each_with_index do |field, index| %>
        <%= render Avo::ItemSwitcherComponent.new resource: @resource, item: field, index: index, view: @view, form: form %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
