<%
  form ||= nil
  main_panel_tools ||= nil
%>
<% if item.is_tool? %>
  <% if item&.partial.present? %>
    <%= render item.partial, tool: item %>
  <% end %>
<% elsif item.is_main_panel? %>
  <%= render Avo::PanelComponent.new(title: title, description: @resource.resource_description, display_breadcrumbs: @reflection.blank?, index: 0) do |c| %>
    <% c.body do %>
      <div class="divide-y">
        <% item.items.each_with_index do |field, index| %>
          <%= render field.component_for_view(:show).new(field: field, resource: @resource, index: index) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <%# is main panel %>
  <%= main_panel_tools %>
<% elsif item.is_panel? && !item.is_main_panel? %>
  <%= render Avo::PanelComponent.new(title: title, description: @resource.resource_description, display_breadcrumbs: @reflection.blank?, index: 0) do |c| %>
    <% c.body do %>
      <div class="divide-y">
        <% item.items.each_with_index do |field, index| %>
          <%= render field.component_for_view(:show).new(field: field, resource: @resource, index: index) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% elsif item.is_tab_group? && view == :show %>
  <%# TAB GROUP %>
  <%#= item.inspect %>
  <div class="space-y-12">
    <%# @todo: add turbo eager loading maybe %>
    <div>
      <% active_tab_name = params[:active_tab_name] || item.tabs.first.name %>
      <%= active_tab_name.inspect %>
      <%
        if params[:tab_turbo_frame].present? && params[:active_tab_name].present?
          active_tab = item&.tabs.find do |tab|
            tab.name.to_s == params[:active_tab_name].to_s
          end
        else
          active_tab = item.tabs.find do |tab|
            tab.name == active_tab_name
          end
        end
        if active_tab.present?
          active_tab.parse
      %>
      <%= render partial: 'avo/partials/tabs_show', locals: { group: item, active_tab: active_tab, form: form, main_panel_tools: main_panel_tools } %>
    <% end %>
  </div>
</div>
<% elsif item.is_field? %>
  <%= render item.component_for_view(@view).new(field: item.hydrate(resource: @resource, view: @view, model: @resource.model), resource: @resource, index: index, form: form) %>
<% end %>
