<% if item.is_tool? %>
  <% if item&.partial.present? %>
    <%= render item.partial, tool: item, form: @form %>
  <% end %>
<% elsif item.is_panel? %>
  <%= render Avo::PanelComponent.new(name: item.name, description: item.description, index: index) do |c| %>
    <% c.body do %>
      <div class="divide-y">
        <% item.visible_items.each_with_index do |field, index| %>
          <%= render field
            .hydrate(resource: @resource, model: @resource.model, user: resource.user, view: view)
            .component_for_view(view)
            .new(field: field, resource: @resource, index: index, form: form) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% elsif item.is_tab_group? %>
  <%= render tab_group_component %>
<% elsif item.is_field? %>
  <%= render field_component %>
<% end %>
