<%= tag.div class: class_names("modal", @class, {"modal--width-#{@width}": @width.present?, "modal--height-#{@height}": @height.present?}), tabindex: -1, data: {
  controller: "#{ctrl} modal-size",
  "#{ctrl}-target": "modal",
  "#{ctrl}-close-modal-on-backdrop-click-value": close_modal_on_backdrop_click,
  "modal-size-current-width-value": @width,
  "modal-size-current-height-value": @height,
  **@data
}, **(@hidden ? { hidden: true } : {}) do %>
  <%= tag.div(
    aria: { expanded: true },
    class: "modal__overlay",
    data: {
      "#{ctrl}-target": "backdrop",
      action: "click->#{ctrl}#close"
    }
  ) %>
  <div
    aria-expanded="true"
    role="dialog"
    aria-modal="true"
    class="modal__card-container"
    data-modal-size-target="container"
  >
    <div class="modal__card">
      <div class="card">
        <div class="card__wrapper">
          <% if has_header? %>
            <div class="card__header">
              <div class="flex w-full items-start gap-4">
                <div class="flex min-w-0 grow items-center">
                  <div class="flex flex-col items-start gap-0.5">
                    <% if @title.present? || heading? %>
                      <p class="modal__title">
                        <%= @title.presence || heading %>
                      </p>
                    <% end %>

                    <% if @description.present? %>
                      <p class="card__description">
                        <%= @description %>
                      </p>
                    <% end %>
                  </div>
                </div>

                <div class="flex items-center gap-2">
                  <% if false && Rails.env.development? %>
                    <%= render partial: "avo/modal/size_selector", locals: { type: 'width', width: @width, height: @height } %>
                    <%= render partial: "avo/modal/size_selector", locals: { type: 'height', width: @width, height: @height } %>
                  <% end %>

                  <% if @show_close_button %>
                    <button
                      class="modal__close-button"
                      data-action="click-><%= ctrl %>#closeModal"
                      aria-label="<%= t('avo.close') %>"
                      tabindex="-1"
                    >
                      <%= helpers.svg "heroicons/outline/x-mark", class: "size-5" %>
                    </button>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="card__body <%= @body_class %>">
            <% if content? %>
              <div class="modal__body-content overflow-auto">
                <%= content %>
              </div>
            <% end %>
          </div>

          <% if controls? %>
            <div class="card__footer modal__controls">
              <%= controls %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
