<div class="<%= class_names("modal", "modal--width-#{@width}", "modal--height-#{@height}") %>"
  data-controller="modal modal-size"
  data-modal-target="modal"
  data-modal-close-modal-on-backdrop-click-value="<%= close_modal_on_backdrop_click %>"
  data-modal-size-current-width-value="<%= @width %>"
  data-modal-size-current-height-value="<%= @height %>"
>
  <div aria-expanded="true" class="modal__overlay" data-modal-target="backdrop" data-action="click->modal#close"></div>
  <div aria-expanded="true" role="dialog" aria-modal="true" class="modal__card-container" data-modal-size-target="container">
    <div class="modal__card">
      <div class="modal__content">
        <% if has_header? %>
          <div class="modal__header">
            <div class="flex gap-4 items-start relative shrink-0 w-full">
              <div class="basis-0 flex gap-0 grow items-center min-h-px min-w-px relative shrink-0">
                <div class="flex flex-col gap-0.5 items-start not-italic relative shrink-0">
                  <% if @title.present? || heading? %>
                    <p class="modal__title line-clamp-1 font-medium leading-6 relative shrink-0 text-xl text-content">
                      <%= @title.presence || heading %>
                    </p>
                  <% end %>
                  <% if @description.present? %>
                    <p class="modal__description line-clamp-1 font-normal leading-5 overflow-ellipsis overflow-hidden relative shrink-0 text-sm text-content-secondary">
                      <%= @description %>
                    </p>

                  <% end %>
                </div>
              </div>
              <div class="flex items-center gap-2">
                <%= render partial: "avo/modal/size_selector", locals: { type: 'width' } %>
                <%= render partial: "avo/modal/size_selector", locals: { type: 'height' } %>
                <% if @show_close_button %>
                  <button class="modal__close-button relative shrink-0 size-5" data-action="click->modal#closeModal" aria-label="<%= t('avo.close') %>">
                    <%= helpers.svg "heroicons/outline/x-mark", class: "size-5 text-content" %>
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="modal__body">
          <% if content? %>
            <div class="modal__body-content<%= @body_class %>">
              <%= content %>
            </div>
          <% end %>
          <% if controls? %>
            <div class="modal__controls">
              <%= controls %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
