<div class="pagination">
  <%# Left: per-page selector %>
  <div class="pagination__per-page">
    <%= render ui.dropdown(classes: "start-0 end-auto") do |component| %>
      <% component.with_trigger do %>
        <button
          type="button"
          class="pagination__per-page-input"
          data-action="<%= component.action %>"
          aria-haspopup="listbox"
          aria-expanded="false"
        >
          <span class="pagination__per-page-value"><%== current_per_page_label %></span>
          <span class="pagination__per-page-icon" aria-hidden="true">
            <%= helpers.svg "tabler/outline/chevron-down" %>
          </span>
        </button>
      <% end %>
      <% component.with_items do %>
        <% per_page_options.each do |option| %>
          <%= link_to change_items_per_page_url(option),
            class: "dropdown-menu__item",
            data: { turbo_frame: @turbo_frame } do %>
            <%== per_page_option_label(option) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%# Right: info + navigation grouped pill %>
  <div class="pagination__controls pagy-gem-version-<%= helpers.pagy_major_version %>">
    <% if @resource.pagination_type.default? %>
      <div class="me-4 text-sm text-slate-600"><%== @pagy.info_tag %></div>
    <% end %>

    <% if @pagy.pages > 1 %>
      <div class="pagination__nav">
        <%== @pagy.series_nav(anchor_string: "data-turbo-frame=\"#{@turbo_frame}\"") %>
      </div>
    <% end %>
  </div>
</div>
