<div class="pagination">
  <%# Left: per-page selector %>
  <div class="pagination__per-page">
    <%= render Avo::UI::PopoverComponent.new(trigger_classes: "pagination__per-page-input") do |component| %>
      <% component.with_trigger do %>
        <span class="pagination__per-page-value"><%== current_per_page_label %></span>
        <span class="pagination__per-page-icon" aria-hidden="true">
          <%= helpers.svg "tabler/outline/chevron-down" %>
        </span>
      <% end %>
      <% component.with_items do %>
        <% per_page_options.each do |option| %>
          <%= link_to change_items_per_page_url(option),
            class: "dropdown-menu__item",
            data: { turbo_frame: @turbo_frame } do %>
            <%== per_page_option_label(option) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%# Right: info + navigation grouped pill %>
  <div class="pagination__controls-wrap">
    <div class="pagination__controls">
      <% if @resource.pagination_type.default? %>
        <div class="pagination__info">
          <span class="pagination__info-number">
            <%= "#{formatted_number(@pagy.from)}-#{formatted_number(@pagy.to)}" %>
          </span>
          &nbsp; of &nbsp;
          <% if @pagy.count >= 10_000 %>
            <span title="<%= formatted_count %>" data-tippy="tooltip">
              <%= number_to_social(@pagy.count, start_at: 10_000) %>
            </span>
          <% else %>
            <span><%= formatted_count %></span>
          <% end %>
        </div>
      <% end %>

      <% if @pagy.pages > 1 %>
        <div class="pagination__nav">
          <%== formatted_series_nav %>
        </div>
      <% end %>
    </div>
  </div>
</div>
