<div <%== data_attributes %>>
  <div class="mb-6">
    <div>
      <% if display_breadcrumbs? %>
        <div class="breadcrumbs">
          <%= helpers.render_breadcrumbs(separator: helpers.svg('chevron-right', class: 'inline-block h-3 stroke-current relative top-[-1px] ml-1' )) if Avo.configuration.display_breadcrumbs %>
        </div>
      <% end %>
      <div class="text-2xl tracking-normal font-bold text-gray-800 truncate" data-target="title">
        <%= @title %>
      </div>
      <div class="text-sm tracking-normal text-gray-600" data-target="description">
        <%== description %>
      </div>
    </div>

    <div>
      <div class="flex justify-end space-x-2 mb-6">
        <%= tools %>
      </div>
    </div>
  </div>

  <div class="relative bg-white rounded-xl shadow-xl mb-8 <%= @body_classes %>">
    <%= body %>
  </div>

  <div class="relative mb-8">
    <%= bare_content %>
  </div>

  <div class="flex justify-end w-full">
    <div>
      <%= footer %>
    </div>
  </div>
</div>
