<div <%== data_attributes %>>
  <% if render_header? %>
    <div class="<%= white_panel_classes %> p-4 flex-1 flex flex-col xl:flex-row justify-between mb-6">
      <div class="overflow-hidden mr-4">
        <% if display_breadcrumbs? %>
          <div class="breadcrumbs truncate mb-2">
            <%= helpers.render_breadcrumbs(separator: helpers.svg('chevron-right', class: 'inline-block h-3 stroke-current relative top-[-1px] ml-1' )) if Avo.configuration.display_breadcrumbs %>
          </div>
        <% end %>

        <div class="text-2xl tracking-normal font-semibold text-gray-800 truncate" data-target="title">
          <%= @title %>
        </div>

        <% if description.present? %>
        <div class="text-base tracking-normal font-medium text-gray-600 truncate" data-target="description">
          <%== description %>
        </div>
        <% end %>
      </div>

      <% if tools.present? %>
        <div class="flex-1 w-full flex flex-col sm:flex-row xl:justify-end sm:items-end space-y-2 sm:space-y-0 sm:space-x-2 mt-4 xl:mt-0">
          <%= tools %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="relative <%= white_panel_classes %> <%= @body_classes %>">
    <%= body %>
  </div>

  <div class="relative">
    <%= bare_content %>
  </div>

  <% if footer_tools.present? %>
    <div class="<%= white_panel_classes %> p-4 flex-1 flex flex-col xl:flex-row justify-between mt-6">
      <div class="flex-1 w-full flex flex-col sm:flex-row xl:justify-end sm:items-end space-y-2 sm:space-y-0 sm:space-x-2 mt-4 xl:mt-0">
        <%= footer_tools %>
      </div>
    </div>
  <% end %>

  <div class="flex justify-end w-full">
    <div>
      <%= footer %>
    </div>
  </div>
</div>
