<%= tag.div class: class_names("panel", @class), data: @data do %>
  <div class="panel__wrapper">
    <% if header? %>
      <div class="panel__header"><%= header %></div>
    <% else %>
      <% if @title.present? || @description.present? %>
        <div class="panel__header">
          <% if @title.present? %>
            <div class="panel__title"><%= @title %></div>
          <% end %>

          <% if @description.present? %>
            <div class="panel__description"><%= @description %></div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <div class="panel__body"><%= content %></div>

    <div class="panel__footer"><%= footer %></div>
  </div>
<% end %>
