<%= content_tag :div, data: data_attributes, class: classes do %>
  <% if render_header? %>
    <div class="flex-1 flex flex-col xl:flex-row justify-between mb-4">
      <div class="overflow-hidden flex flex-col">
        <% if display_breadcrumbs? %>
          <div class="breadcrumbs truncate mb-2">
            <%= helpers.render_avo_breadcrumbs(separator: helpers.svg('chevron-right', class: 'inline-block h-3 stroke-current relative top-[-1px] ml-1' )) if Avo.configuration.display_breadcrumbs %>
          </div>
        <% end %>
        <div class="text-2xl tracking-normal font-semibold text-gray-800 truncate items-center flex flex-1" data-target="title">
          <span><%= @name %></span>
        </div>
        <% if description.present? %>
          <div class="text-sm tracking-normal font-medium text-gray-600" data-target="description">
            <%== description %>
          </div>
        <% end %>
      </div>
      <% if tools.present? %>
        <div class="flex-1 w-full flex flex-wrap flex-col sm:flex-row xl:justify-end sm:items-end gap-2 mt-4 xl:mt-0" data-target="panel-tools">
          <%= tools %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if body? %>
    <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:gap-4 w-full">
      <div class="relative flex-1 <% if sidebar? %> w-2/3 <% else %> w-full <% end %>">
        <% # The body is wrapped inside another div in order to avoid long & tall panels next to sidebars when the sidebar taller. %>
        <div class="relative <%= white_panel_classes %> <%= @body_classes %>">
          <%= body %>
        </div>
      </div>
      <% if sidebar? %>
        <div class="w-full sm:w-1/3 flex-shrink-0 h-full <%= white_panel_classes %>">
          <%= sidebar %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if bare_content? %>
    <div class="relative">
      <%= bare_content %>
    </div>
  <% end %>
  <% if footer_tools? %>
    <div class="flex-1 w-full flex flex-col sm:flex-row xl:justify-end sm:items-end space-y-2 sm:space-y-0 sm:space-x-2 mt-4 xl:mt-0">
      <%= footer_tools %>
    </div>
  <% end %>
  <% if footer? %>
    <div class="flex justify-end w-full">
      <div>
        <%= footer %>
      </div>
    </div>
  <% end %>
<% end %>
