<%= content_tag :div, id: "#{@resource.model_key}_bare_content" do %>
  <%= render Avo::SearchOverlayComponent.new %>
  <% if @resource.view_type.to_sym == :map %>
    <% if @resources.present? %>
      <div>
        <%= render(@resource.resolve_component(Avo::Index::ResourceMapComponent).new(
          resources: @resources,
          resource: @resource,
          reflection: @reflection,
          parent_record: @parent_record,
          parent_resource: @parent_resource,
          pagy: @pagy,
          query: @query
        )) %>
      </div>
    <% else %>
      <%= helpers.empty_state by_association: params[:related_name].present?, view_type: @resource.view_type, add_background: true %>
    <% end %>
  <% end %>

  <% if @resource.view_type.to_sym == :table || @resource.view_type.to_sym == :map %>
    <% if @resources.present? %>
      <div class="mt-4 w-full">
        <%= render paginator_component %>
      </div>
    <% end %>
  <% end %>

  <% if @resource.view_type.to_sym == :grid %>
    <div id="records_panel">
      <%= render Avo::Index::ResourceGridComponent.new(
        resources: @resources,
        resource: @resource,
        reflection: @reflection,
        parent_record: @parent_record,
        parent_resource: @parent_resource,
        actions: @actions
      ) %>
    </div>
    <div class="mt-6">
      <%= render paginator_component %>
    </div>
  <% end %>
<% end %>
