<div data-model-id="<%= @resource.model.id %>">
  <% @resource.panels.each do |resource_panel| %>
    <%= form_with model: @resource.model, url: helpers.resources_path(@resource.model), local: true do |form| %>
      <%= panel(title: resource_panel[:name]) do |component| %>
        <% component.with :heading do %>
          <%= resource_panel[:name] %>
        <% end %>

        <% component.with :tools do %>
          <div class="flex justify-end space-x-2">
            <%= a_link back_path do %>
              <%= svg 'media/svgs/arrow-left.svg' %> <%= t('avo.cancel').capitalize %>
            <% end %>

            <%= a_button color: 'green', type: :submit do %>
              <%= svg 'media/svgs/save.svg' %> <%= t('avo.save').capitalize %>
            <% end if @resource.authorization.authorize_action :create, raise_exception: false %>
          </div>
        <% end %>

        <% component.with :body do %>
          <% @resource.get_fields.each_with_index do |field, index| %>
            <%= edit_field field, index, @resource, form unless field.computed %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
