<div class="resource-sidebar-component divide-y"
  data-component-name="<%= self.class.to_s.underscore %>"
  data-component-index="<%= index %>"
  data-resource-name="<%= @resource.class.to_s %>"
  data-record-id="<%= @resource.record.id %>"
>
  <%= render Avo::Items::VisibleItemsComponent.new(
    resource: @resource,
    item: @sidebar,
    view: @view,
    form: @form,
    field_component_extra_args: {
      stacked: true
    }
  )%>
</div>
