<div class="sidebar-profile">
  <div class="sidebar-profile__body">
    <div class="sidebar-profile__avatar-wrapper">
    <div class="sidebar-profile__avatar">
        <% if avatar.present? %>
          <%= image_tag helpers.main_app.url_for(avatar), class: "sidebar-profile__avatar-img" %>
        <% else %>
          <span class="sidebar-profile__avatar-initials">
            <%= initials %>
          </span>
        <% end %>
    </div>
    </div>
    <div class="sidebar-profile__info">
      <div class="sidebar-profile__title">
        <%= name %>
      </div>
      <% if title.present? %>
        <div class="sidebar-profile__subtitle">
            <%= title %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="sidebar-profile__actions">
    <%= render Avo::UI::DropdownComponent.new(popover_mode: true, classes: "sidebar-profile__dropdown") do |component| %>
      <% component.with_trigger do %>
        <%= render Avo::ButtonComponent.new(
          icon: "tabler/outline/dots",
          size: :md,
          style: :text,
          popovertarget: component.popover_id
        ) %>
      <% end %>
      <% component.with_items do %>
        <% if render_custom_profile_menu? %>
          <%= render custom_profile_component %>
        <% end %>
        <%= render "avo/partials/profile_menu_extra" %>
        <% if can_sign_out_user? %>
          <%= form_with url: helpers.main_app.send(sign_out_path),
            method: sign_out_method,
            data: {
              controller: :"sign-out",
              sign_out_confirm_value: t('avo.are_you_sure'),
              action: "submit->sign-out#handle",
            },
            class: 'sidebar-profile__form' do |form| %>
            <%= form.button turbo_confirm: t('avo.are_you_sure'), class: "sidebar-profile__sign-out" do %>
              <%= helpers.svg "tabler/outline/logout", class: 'sidebar-icon' %> <span class="truncate min-w-0"><%= t('avo.sign_out') %><%= t('avo.sign_out') %><%= t('avo.sign_out') %><%= t('avo.sign_out') %><%= t('avo.sign_out') %><%= t('avo.sign_out') %><%= t('avo.sign_out') %></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
