<div
  class="avo-sidebar fixed z-[60] t-0 application-sidebar w-64 flex-1 border-r lg:border-none bg-none h-[calc(100vh-4rem)] bg-application lg:bg-transparent <%= 'print:hidden' if Avo.configuration.hide_layout_when_printing %> <%= @sidebar_open ? 'flex' : 'hidden' %>"
  data-sidebar-target="<%= stimulus_target %>"
  data-transition-enter="transition ease-out duration-100"
  data-transition-enter-start="transform opacity-0 -translate-x-full"
  data-transition-enter-end="transform opacity-100 translate-x-0"
  data-transition-leave="transition ease-in duration-75"
  data-transition-leave-start="transform opacity-100 translate-x-0"
  data-transition-leave-end="transform opacity-0 -translate-x-full"
>
  <div class="flex flex-col w-full h-full">
    <div class="flex-1 flex flex-col justify-between overflow-auto h-full pt-3 mac-styled-scrollbar">
      <div class="space-y-6 mb-4">
        <%= render Avo::Sidebar::LinkComponent.new label: 'Get started', path: helpers.avo.root_path, active: :exclusive if Rails.env.development? && Avo.configuration.home_path.nil? %>

        <% if Avo.plugin_manager.installed?("avo-menu") && Avo.has_main_menu? %>
          <% Avo.main_menu.items.each do |item| %>
            <%= render Avo::Sidebar::ItemSwitcherComponent.new item: item %>
          <% end %>
        <% else %>

          <% if dashboards.present? %>
            <div>
              <%= render Avo::Sidebar::HeadingComponent.new label: t('avo.dashboards'), icon: helpers.svg('dashboards', class: 'h-4') %>

              <div class="w-full space-y-1">
                <% dashboards.sort_by { |r| r.navigation_label }.each do |dashboard| %>
                  <%= render Avo::Sidebar::LinkComponent.new label: dashboard.navigation_label, path: dashboard.navigation_path %>
                <% end %>
              </div>
            </div>
          <% end %>

          <div>
            <%= render Avo::Sidebar::HeadingComponent.new label: t('avo.resources'), icon: helpers.svg('resources', class: 'h-4') %>

            <div class="w-full space-y-1">
              <% resources.sort_by { |r| r.navigation_label }.each do |resource| %>
                <%= render Avo::Sidebar::LinkComponent.new label: resource.navigation_label, path: helpers.resources_path(resource: resource) %>
              <% end %>
            </div>
          </div>

          <% if tools.present? %>
            <div>
              <%= render Avo::Sidebar::HeadingComponent.new label: t('avo.tools'), icon: helpers.svg('tools', class: 'h-4') %>

              <div class="w-full space-y-1">
                <% tools.each do |partial| %>
                  <%= render partial: "/avo/sidebar/items/#{partial}" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>

        <%= render partial: "/avo/partials/sidebar_extra" %>
      </div>
    </div>
    <% if Rails.env.development? %>
      <div class="p-4 border-t group">
        <%= link_to helpers.avo.avo_private_status_path, class: "block px-4 py-2 border rounded flex justify-between items-center w-full text-black text-sm" do %>
          <span>Avo Status</span> <span><div class="rounded-full w-4 h-4 <%= Avo.app_status ? "bg-green-400" : "bg-orange-400" %>"></div></span>
        <% end %>
        <div class="absolute text-xs text-gray-700 group-hover:block hidden text-center w-full -ml-4">👆Visible only in development👆</div>
      </div>
    <% end %>
    <%= render Avo::SidebarProfileComponent.new user: helpers._current_user %>
  </div>
</div>
