<div class="sidebar-profile">
  <div class="sidebar-profile__body">
    <div class="sidebar-profile__avatar-wrapper">
    <div class="sidebar-profile__avatar">
        <% if avatar.present? %>
          <%= image_tag helpers.main_app.url_for(avatar), class: "sidebar-profile__avatar-img" %>
        <% else %>
          <span class="sidebar-profile__avatar-initials">
            <%= name.first.upcase %><%= name.last.upcase %>
          </span>
        <% end %>
    </div>
    </div>
    <div class="sidebar-profile__info">
      <div class="sidebar-profile__title">
        <%= name %>
      </div>
      <% if true %>
        <div class="sidebar-profile__subtitle">
          <%= "title - email" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="sidebar-profile__actions" data-controller="toggle">
    <a href="#" class="sidebar-profile__action-trigger">
      <%= helpers.svg "tabler/outline/bell", class: 'sidebar-profile__action-icon' %>
    </a>
    <a href="#" class="sidebar-profile__action-trigger" data-control="profile-dots" data-action="click->toggle#togglePanel">
      <%= helpers.svg "tabler/outline/dots", class: 'sidebar-profile__action-icon' %>
    </a>
    <div class="css-animate-slide-up sidebar-profile__panel" data-toggle-target="panel" hidden>
      <% if render_custom_profile_menu? %>
        <%= render custom_profile_component %>
      <% end %>
      <%= render "avo/partials/profile_menu_extra" %>
      <% if can_sign_out_user? %>
        <%= form_with url: helpers.main_app.send(sign_out_path),
          method: sign_out_method,
          data: {
            controller: :"sign-out",
            sign_out_confirm_value: t('avo.are_you_sure'),
            action: "submit->sign-out#handle",
          },
          class: 'sidebar-profile__form' do |form| %>
          <%= form.button turbo_confirm: t('avo.are_you_sure'), class: "sidebar-profile__sign-out" do %>
            <%= helpers.svg "avo/logout", class: 'sidebar-profile__sign-out-icon' %> <%= t('avo.sign_out') %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
