<div class="sidebar-profile" data-controller="toggle">
  <div class="sidebar-profile__body">
    <div class="sidebar-profile__avatar-wrapper">
    <div class="sidebar-profile__avatar">
        <% if avatar.present? %>
          <%= image_tag helpers.main_app.url_for(avatar), class: "sidebar-profile__avatar-img" %>
        <% else %>
          <span class="sidebar-profile__avatar-initials">
            <%= initials %>
          </span>
        <% end %>
    </div>
    </div>
    <div class="sidebar-profile__info">
      <div class="sidebar-profile__title">
        <%= name %>
      </div>
      <% if title.present? %>
        <div class="sidebar-profile__subtitle">
            <%= title %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="sidebar-profile__actions">
    <button type="button" class="sidebar-profile__action-trigger" data-control="profile-dots" data-action="click->toggle#togglePanel">
      <%= helpers.svg "tabler/outline/dots", class: 'sidebar-profile__action-icon sidebar-icon' %>
    </button>
    <div class="css-animate-slide-up sidebar-profile__panel" data-toggle-target="panel" hidden>
      <% if render_custom_profile_menu? %>
        <%= render custom_profile_component %>
      <% end %>
      <%= render "avo/partials/profile_menu_extra" %>
      <% if can_sign_out_user? %>
        <%= form_with url: helpers.main_app.send(sign_out_path),
          method: sign_out_method,
          data: {
            controller: :"sign-out",
            sign_out_confirm_value: t('avo.are_you_sure'),
            action: "submit->sign-out#handle",
          },
          class: 'sidebar-profile__form' do |form| %>
          <%= form.button turbo_confirm: t('avo.are_you_sure'), class: "sidebar-profile__sign-out" do %>
            <%= helpers.svg "avo/logout", class: 'sidebar-profile__sign-out-icon sidebar-icon' %> <%= t('avo.sign_out') %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
