<%= content_tag :div,
  data: {
    target: "tab-group",
    index: index,
    controller: "tabs",
    tabs_view_value: view,
    tabs_group_id_value: group.id,
    tabs_active_tab_value: active_tab_title,
    tabs_resource_name_value: resource.underscore_name
  } do %>
  <% visible_tabs.each_with_index do |tab, index| %>
    <%= content_tag :div, **args(tab) do %>
      <%= render ui.panel_header(title: group.title, description: group.description) %>

      <div class="-mx-2 -my-2 space-y-4 rounded-lg border border-gray-200 p-2 lg:-mx-4 lg:-my-3 lg:p-4">
        <%= render Avo::TabSwitcherComponent.new resource: resource, current_tab: visible_tabs.first, group: group, active_tab_title: tab.title, view: view %>

        <% if !tab.is_empty? %>
          <% if tab.lazy_load && view.display? %>
            <%= turbo_frame_tag tab.turbo_frame_id(parent: @group), **frame_args(tab) do %>
              <% if is_not_loaded?(tab) %>
                <%= render Avo::LoadingComponent.new(title: tab.title) %>
              <% else %>
                <%= render Avo::TabContentComponent.new tab:, resource:, index:, form:, view: %>
              <% end %>
            <% end %>
          <% else %>
            <%= render Avo::TabContentComponent.new tab:, resource:, index:, form:, view: %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
