<div class="flex-1 flex p-4">
  <div class="place-self-end">
    Dashboard ID: <%= @dashboard.inspect %>
    <br>
    Current user ID: <%= current_user.id %>
    <br>
    Params: <pre><%= params.inspect %></pre>
    <br>
    Options: <%= @card.options %>
    <br>
    Range: <%= @card.range %>
    <br>
    Options block: <%= @card.options[:block].call params %>
  </div>
</div>
