<%= turbo_frame_tag 'attach_modal' do %>
  <%= form_with scope: 'fields',
    url: "#{avo.root_path}resources/#{params[:resource_name]}/#{params[:id]}/#{params[:related_name]}/",
    local: true,
    data: {
      'turbo-frame': '_top'
    } do |form| %>
    <%= render Avo::ModalComponent.new do |c| %>
      <% c.heading do %>
        <%= t 'avo.choose_item', item: @related_resource.name.downcase %>
      <% end %>

      <div class="flex-1 flex items-center justify-center px-0 lg:px-8 text-lg mt-8 mb-12">
        <% if @field.searchable %>
          <%= render Avo::Fields::BelongsToField::AutocompleteComponent.new form: form,
            field: @field,
            model_key: @field.target_resource&.model_key,
            foreign_key: 'related_id',
            resource: @resource
          %>
        <% else %>
          <div class="flex-1 flex flex-col items-center justify-center px-0 md:px-24 text-base">
            <%= form.select :related_id, options_for_select(@options, nil),
              {
                include_blank: t('avo.choose_an_option'),
              },
              {
                class: input_classes('w-full'),
              }
            %>
          </div>
        <% end %>
      </div>

      <% c.controls do %>
        <%= a_button 'data-action': 'click->modal#close', size: :sm do %>
          <%= t('avo.cancel') %>
        <% end %>
        <%= a_button type: :submit, color: :green, size: :sm do %>
          <%= t('avo.attach') %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
