<div class="flex flex-col">
  <%= render ui.panel(title: 'Welcome to Avo', description: 'This page is visible only in development. It will be hidden in other environments.') do |panel| %>
    <% panel.with_controls do %>
      <%= a_link('/admin', icon: "heroicons/outline/arrow-left", color: :green, style: :primary, is_link: true) do %>
        Primary
      <% end %>

      <%= a_link('/admin', icon: "heroicons/outline/arrow-left", is_link: true) do %>
        Outline
      <% end %>

      <%= a_link('/admin', icon: "heroicons/outline/arrow-left", style: :outline, color: :red, is_link: true) do %>
        Red
      <% end %>

      <%= a_link('/admin', icon: "heroicons/outline/arrow-left", style: :text, color: :orange, is_link: true) do %>
        Orange
      <% end %>

      <%= a_link('/admin', icon: "heroicons/outline/arrow-left", style: :text, is_link: true) do %>
        Back
      <% end %>

      <%= a_link('/admin', icon: "heroicons/outline/plus", color: :primary, style: :primary, is_link: true) do %>
        Create entry
      <% end %>
    <% end %>

    <% panel.with_body do %>
      <div class="flex flex-col justify-between py-6 min-h-24">
        <%= render partial: 'links_and_buttons' %>
      </div>
    <% end %>
  <% end %>
</div>
