<%= field_wrapper **field_wrapper_args do %>
  <div class="flex flex-row items-center justify-between space-x-1 group">
    <% if @field.as_html %>
      <%== @field.value %>
    <% elsif @field.protocol.present? %>
      <%= link_to @field.value, "#{@field.protocol}:#{@field.value}" %>
    <% else %>
      <%= @field.value %>
    <% end %>
    <% if copyable? %>
      <%= render Avo::ClipboardComponent.new value: @field.value, view: 'show' %>
    <% end %>
  </div>
<% end %>
