<% if @field.value %>
  <turbo-frame id="<%= @field.turbo_frame %>" src="<%= @field.frame_url %>" target="_top" class="block">
    <%= render(Avo::LoadingComponent.new(title: @field.name)) %>
  </turbo-frame>
<% else %>
  <%= render Avo::PanelComponent.new(title: @field.name) do |c| %>
    <% c.tools do %>
      <% if !@field.readonly && can_attach? %>
        <%= a_link attach_path, icon: 'heroicons/outline/link', color: :primary, 'data-turbo-frame': 'attach_modal' do %>
          <%= t('avo.attach_item', item: @field.name) %>
        <% end %>
      <% end %>
    <% end %>

    <% c.body do %>
      <div class="py-8 flex justify-center items-center">
        <%= empty_state resource_name: @field.id, related_name: params[:related_name] %>
      </div>
    <% end %>
  <% end %>
<% end %>
