<% if @field.value %>
  <turbo-frame id="<%= @field.turbo_frame %>" src="<%= @field.frame_url %>" target="_top">
    <%= render(Avo::LoadingComponent.new(title: @field.name)) %>
  </turbo-frame>
<% else %>
  <%= render Avo::PanelComponent.new(title: @field.id.capitalize) do |c| %>
    <% c.tools do %>
      <% unless @field.readonly %>
        <%= a_link helpers.resource_attach_path(@resource.model.model_name.route_key, @resource.model.id, @field.id), color: 'indigo', 'data-turbo-frame': 'attach_modal' do %>
          <%= svg 'view-grid-add' %> <%= t('avo.attach_item', item: @field.id).capitalize %>
        <% end %>
      <% end %>
    <% end %>

    <% c.body do %>
      <div class="py-8 flex justify-center items-center">
        <%= empty_state @field.id %>
      </div>
    <% end %>
  <% end %>
<% end %>
