<tr
  class="hover:bg-gray-100 hover:shadow-row relative z-20 border-b"
  data-resource-name="<%= resource[:singular_name].downcase %>"
  data-resource-id="<%= resource[:model].id %>"
  data-controller="table-row"
>
  <td class="w-10">
    <div class="flex justify-center h-full">
      <input type="checkbox"
        class="mx-3 w-4 h-4"
        data-action="input->table-row#toggle"
        data-resource-name="<%= resource[:path] %>"
        data-resource-id="<%= resource[:model].id %>"
      />
    </div>
  </td>
  <% resource[:fields].each_with_index do |field, index| %>
    <%= index_field field, index %>
  <% end %>
  <td class="text-right whitespace-no-wrap px-2">
    <div class="flex items-center justify-end flex-grow-0 h-full w-full">
      <%= render partial: 'avo/resources/item_controls', locals: {resource: resource} %>
    </div>
  </td>
</tr>
