<div :resource-id="resourceId">
  <%= panel do %>
    <% content_for :heading do %>
      <%= @heading %>
    <% end %>

    <% content_for :tools do %>
      <div class="flex justify-end space-x-2">
        <% back_path = params[:via_resource_name].present? ? resource_path(to_resource_name: params[:via_resource_name], to_resource_id: params[:via_resource_id], keep_query_params: false) : resources_path(@model.class) %>
        <%= a_link back_path do %>
          <%= svg 'media/svgs/arrow-left.svg' %> <%= t('avo.go_back') %>
        <% end %>
        <%= a_link resource_path(@model), color: 'red', variant: 'outlined', method: :delete, data: {confirm: 'Are you sure?'} do %>
          <%= svg 'media/svgs/trash.svg' %> <%= t('avo.delete').capitalize %>
        <% end if @authorization.set_record(@model).authorize_action :destroy, raise_exception: false %>
        <%= a_link edit_resource_path(@model), color: 'indigo' do %>
          <%= svg 'media/svgs/edit.svg' %> <%= t('avo.edit').capitalize %>
        <% end if @authorization.set_record(@model).authorize_action :edit, raise_exception: false %>
      </div>
    <% end %>

    <% @resource[:fields].each_with_index do |field, index| %>
      <%= show_field field, index, @resource %>
    <% end %>
  <% end %>

  <div>
    <%#= has many panel %>
  </div>
</div>

<div :resource-id="resourceId">
  <div v-for="panel in panels" :key="panel.name">
    <panel>
      <template #heading>
        {{panel.name}}
      </template>

      <template #tools>
        <div class="flex justify-end space-x-2">
          <resource-actions :resource-name="resourceName" :resource-ids="[resourceId]" :actions="actions" />
          <a-button :to="cancelActionParams">
            <arrow-left-icon class="h-4 mr-1"/> {{ $t('avo.go_back') }}
          </a-button>
          <a-button
            color="red"
            variant="outlined"
            v-if="canDelete"
            @click="openDeleteModal"
          >
            <trash-icon class="text-red-700 h-4 mr-1"/>
            {{ $t('avo.delete') | upperFirst() }}
          </a-button>
          <a-button
            color="indigo"
            :to="{
              name: 'edit',
              params: {
                resourceName: resourceName,
                resourceId: resource.id,
              },
            }"
            v-if="canEdit"
          >
            <edit-icon class="h-4 mr-1" /> {{ $t('avo.edit') | upperFirst() }}
          </a-button>
        </div>
      </template>

      <template #content>
        <loading-overlay v-if="isLoading" />
        <component
          v-for="(field, index) in fieldsForPanel(panel)"
          :key="uniqueKey(field, index)"
          :is="`show-${field.component}`"
          :field="field"
          :index="index"
          :resource-name="resourceName"
          :resource-id="resourceId"
          :field-id="field.id"
          :field-component="field.component"
        />
      </template>
    </panel>

    <component
      v-for="field in hasManyRelations"
      :key="field.id"
      :is="`show-${field.component}`"
      :field="field"
      :resource-name="resourceName"
      :resource-id="resourceId"
      :field-component="field.component"
    />
  </div>
</div>

<%= @resource.inspect %>
