<%= render Avo::TurboFrameWrapperComponent.new(params[:turbo_frame]) do %>
  <%
  classes = 'absolute inset-auto left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2'
  label = t 'avo.failed_to_load'
  src_url = params[:src].present? && !params[:src].starts_with?('http://') ? params.permit(:src).fetch(:src) : nil
%>
  <div class="relative flex-1 py-4">
    <div class="relative block text-gray-300 h-64 w-full">
      <%= svg 'failed_to_load', class: "#{classes} h-52 text-gray-400" %>
    </div>
    <div class="relative block text-center text-lg text-gray-400 font-semibold pb-6"><%= label %> <span class="border-b-2 border-dashed"><%= params[:turbo_frame].to_s.humanize.downcase if params[:turbo_frame].present? %></span> frame</div>
    <% if Rails.env.development? && src_url %>
      <div class="text-center text-sm w-full pb-3">
        This is not an issue with Avo. Use <%= link_to 'this page', src_url, target: :_blank %> to see why this frame failed to load.
      </div>
    <% end %>
  </div>
<% end %>
