<%
  src_url = params[:src].present? && !params[:src].starts_with?("http://") ? CGI.escapeHTML(params[:src]) : nil
  frame_label = if params[:turbo_frame].present?
    params[:turbo_frame].to_s.humanize.downcase
  else
    "this frame"
  end
%>

<%= render Avo::TurboFrameWrapperComponent.new(params[:turbo_frame]) do %>
  <div class="state state--frame-load-failed">
    <div class="state__illustration" aria-hidden="true">
      <% %i[start center end].each do |position| %>
        <div class="state__document state__document--<%= position %>">
          <div class="state__document-body">
            <div class="state__document-lines">
              <span class="state__document-line"></span>
              <span class="state__document-line"></span>
              <span class="state__document-line"></span>
              <span class="state__document-line"></span>
              <span class="state__document-line state__document-line--short"></span>
            </div>
          </div>
        </div>
      <% end %>

      <div class="state__magnifier">
        <%= svg "tabler/outline/zoom", class: "state__magnifier-icon" %>
      </div>
    </div>

    <p class="state__message text-center font-normal">
      Failed to load:
      <span class="font-bold"><%= frame_label %></span>
    </p>

    <% if Rails.env.development? && src_url.present? %>
      <p class="state__note text-center font-normal">
        Follow
        <%= link_to "this link", src_url, target: "_blank", rel: "noopener", class: "state__link font-normal" %>
        for more details about the issue and how to fix it.
      </p>
    <% end %>
  </div>
<% end %>
