<div class="relative min-h-full max-w-full flex-1">
  <% if attachment.representable? && is_image %>
    <%= image_tag main_app.url_for(attachment), class: 'mb-2 rounded-lg max-h-168 max-w-full' %>
    <div class="flex justify-between">
      <%= render partial: 'avo/fields/common/file_item_controls', locals: { attachment: attachment, id: id, button_size: button_size || :md } %>
    </div>
  <% else %>
    <div class="relative flex flex-col justify-evenly items-center px-2 rounded-lg border bg-white border-gray-500 min-h-48">
      <div class="flex flex-col justify-center items-center w-full">
        <%= svg 'media/svgs/document-text.svg', class: 'h-12 text-gray-800 mb-2' %>
        <div class="block w-full truncate text-center text-sm">
          <%= attachment.filename %>
        </div>
      </div>
      <div class="flex flex-col space-y-2">
        <%= render partial: 'avo/fields/common/file_item_controls', locals: { attachment: attachment, id: id, button_size: button_size || :xs } %>
      </div>
    </div>
  <% end %>
</div>
