<div class="key-value"
  data-controller="key-value"
  data-key-value-target="controller"
  data-options="<%= @field.options.to_json %>"
  data-input-classes="<%= input_classes %>"
  data-editable="<%= @view.form? %>"
>
  <div class="key-value__table">
    <div class="key-value__header">
      <div class="key-value__header-cell key-value__header-cell--key">
          <%= @field.key_label %>
      </div>
      <div class="key-value__header-cell key-value__header-cell--value">
          <%= @field.value_label %>
      </div>
      <% if @view.form? %>
        <div class="key-value__header-cell key-value__header-cell--actions">
          <a href="javascript:void(0);"
            title="<%= @field.action_text %>"
            data-tippy="tooltip"
            data-button="add-row"
            data-action="click->key-value#addRow"
            class="key-value__action-button <%= 'cursor-not-allowed' if @field.disable_adding_rows %>"
          >
            <%= helpers.svg "heroicons/outline/plus-circle", class: 'key-value__action-icon' %>
          </a>
        </div>
      <% end %>
    </div>
    <div class="key-value__body" data-key-value-target="rows"></div>
  </div>
  <% if @form.present? %>
    <%= @form.text_area @field.id,
      value: @field.parsed_value,
      class: 'hidden',
      placeholder: @field.placeholder,
      data: {
        "key-value-target": 'input',
        view: @view,
        **@field.get_html(:data, view: @view, element: :input)
      }
    %>
  <% else %>
    <%= text_area_tag @field.id,
      @field.parsed_value,
      class: 'hidden',
      placeholder: @field.placeholder,
      data: {
        "key-value-target": 'input',
        view: @view,
        **@field.get_html(:data, view: @view, element: :input)
      }
    %>
  <% end %>
</div>
