<div>
  <%= render Avo::PanelComponent.new(title: title, description: description, data: { component: 'resources-index' }, display_breadcrumbs: @reflection.blank?) do |c| %>
    <% c.tools do %>
      <% if can_see_the_actions_button? %>
        <%= render 'actions' %>
      <% end %>

      <% if can_see_the_create_button? %>
        <%= a_link create_path, icon: 'plus', 'data-target': 'create', color: :primary, variant: :outlined do %>
          <%= t('avo.create_new_item', item: singular_resource_name.downcase ) %>
        <% end %>
      <% end %>

      <% if can_attach? %>
        <%= a_link attach_path, icon: 'view-grid-add', color: 'indigo', 'data-turbo-frame': 'attach_modal', 'data-target': 'attach' do %>
          <%= t('avo.attach_item', item: singular_resource_name).capitalize %>
        <% end %>
      <% end %>
    <% end %>

    <% c.body do %>
      <% if @resource.search_query.present? || @filters.present? || @models.present? %>
        <div class="flex flex-col xs:flex-row xs:justify-between space-y-2 xs:space-y-0 py-4"
          data-selected-resources-name="<%= @resource.model_key %>"
          data-selected-resources="[]"
        >
          <% if @resource.search_query.present? %>
            <div class="flex items-center px-6 w-64">
              <%= render partial: 'avo/partials/resource_search', locals: {resource: @resource.model_key} %>
            </div>
          <% else %>
            <%# Offset for the space-y-2 property when the serach is missing %>
            <div class="-mb-2"></div>
          <% end %>
          <% if @filters.present? || @models.present? %>
            <div class="justify-self-end flex justify-start xs:justify-end items-center px-6 space-x-3">
              <%= render 'filters' if @filters.present? %>

              <%= render partial: 'avo/partials/view_toggle_button', locals: { available_view_types: available_view_types, view_type: view_type, turbo_frame: @turbo_frame } if @models.present? %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% c.bare_content do %>
      <% if view_type.to_sym == :table %>
        <% if @resources.present? %>
          <div class="w-full overflow-auto flex flex-col mt-4 shadow-panel rounded-lg">
            <div class="relative flex-1 flex">
              <%= render(Avo::Index::ResourceTableComponent.new(resources: @resources, resource: @resource, reflection: @reflection, parent_model: @parent_model)) %>
            </div>
          </div>
        <% else %>
          <%= helpers.empty_state @resource.name.downcase.pluralize %>
        <% end %>

        <% if @models.present? %>
          <div class="py-4">
            <%= render partial: 'avo/partials/paginator', locals: { pagy: @pagy, turbo_frame: @turbo_frame || 'none' } %>
          </div>
        <% end %>
      <% end %>

      <% if view_type.to_sym == :grid %>
        <%= render Avo::Index::ResourceGridComponent.new(resources: @resources, resource: @resource, reflection: @reflection, parent_model: @parent_model) %>

        <div class="mt-8 py-6">
          <%= render partial: 'avo/partials/paginator', locals: { pagy: @pagy, turbo_frame: @turbo_frame || 'none' } %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
