<div data-model-id="<%= @resource.model.id %>">
  <% @resource.panels.each do |resource_panel| %>
    <%= form_with model: @resource.model, scope: @resource.form_scope, url: helpers.resource_path(model: @resource.model, resource: @resource), method: :put, multipart: true do |form| %>
      <%= hidden_field_tag :referrer, back_path if params[:via_resource_class] %>

      <%= render Avo::PanelComponent.new(title: resource_panel[:name], description: @resource.resource_description, display_breadcrumbs: true) do |c| %>
        <% c.tools do %>
          <div class="flex justify-end space-x-2">
            <%= a_link back_path do %>
              <%= helpers.svg 'arrow-left' %> <%= t('avo.cancel').capitalize %>
            <% end %>

            <% if can_see_the_save_button? %>
              <%= a_button color: 'green', variant: 'outlined', spinner: true, type: :submit do %>
                <%= helpers.svg 'save' %> <%= t('avo.save').capitalize %>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <% c.body do %>
          <% @resource.get_fields.each_with_index do |field, index| %>
            <%= render field.component_for_view(:edit).new(field: field, resource: @resource, index: index, form: form) unless field.computed %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
