<div data-model-id="<%= @resource.model.id %>">
  <% @resource.panels.each do |resource_panel| %>
    <%= form_with model: @resource.model,
        scope: @resource.form_scope,
        url: helpers.resource_path(model: @resource.model, resource: @resource),
        method: :put,
        local: true,
        multipart: true do |form| %>
      <%= hidden_field_tag :referrer, back_path if params[:via_resource_class] %>
      <%= render Avo::PanelComponent.new(title: resource_panel[:name], description: @resource.resource_description, display_breadcrumbs: true) do |c| %>
        <% c.tools do %>
          <%= a_link back_path, icon: 'arrow-left' do %>
            <%= t('avo.cancel').capitalize %>
          <% end %>
          <% if can_see_the_save_button? %>
            <%= a_button color: :green, spinner: true, type: :submit, icon: 'save' do %>
              <%= t('avo.save').capitalize %>
            <% end %>
          <% end %>
        <% end %>
        <% c.body do %>
          <div class="divide-y">
            <% @resource.get_fields.each_with_index do |field, index| %>
              <%= render field.component_for_view(:edit).new(field: field, resource: @resource, index: index, form: form) unless field.computed %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
