<%= content_tag :div,
  data: {
    model_name: @resource.model_name.to_s,
    resource_name: @resource.class.to_s,
    model_id: @resource.model.id,
    selected_resources_name: @resource.model_key,
    selected_resources: [@resource.model.id],
    **@resource.stimulus_data_attributes
  } do %>
  <%= render Avo::PanelComponent.new(name: title, description: @resource.resource_description, display_breadcrumbs: @reflection.blank?, index: 0, data: { panel_id: "main" }) do |c| %>
    <% c.tools do %>
      <% if @resource.has_show_controls? %>
        <%# RENDER BACK BUTTONS %>
        <% back_buttons.each do |back_button| %>
          <%= a_link back_path,
            style: :text,
            title: back_button.title,
            icon: 'arrow-left',
            data: {
              tippy: back_button.title ? :tooltip : nil,
            } do %>
            <%= back_button.label %>
          <% end %>
        <% end %>

        <%# RENDER DELETE BUTTONS %>
        <% if can_see_the_destroy_button? %>
          <% delete_buttons.each do |delete_button| %>
            <%= a_link helpers.resource_path(model: @resource.model, resource: @resource),
              style: :text,
              color: :red,
              icon: 'trash',
              form_class: 'flex flex-col sm:flex-row sm:inline-flex',
              title: delete_button.title,
              data: {
                turbo_confirm: t('avo.are_you_sure', item: @resource.model.model_name.name.downcase),
                turbo_method: :delete,
                control: :destroy,
                tippy: delete_button.title ? :tooltip : nil,
                'resource-id': @resource.model.id,
              } do %>
              <%= delete_button.label %>
            <% end %>
          <% end %>
        <% end %>

        <%# RENDER ACTIONS LIST %>
        <% if can_see_the_actions_button? %>
          <% actions_lists.each do |actions_list| %>
            <%= render Avo::ActionsComponent.new(
                actions: @actions,
                resource: @resource,
                view: @view,
                exclude: actions_list.exclude,
                style: actions_list.style,
                color: actions_list.color,
                label: actions_list.label ,
              ) %>
          <% end %>
        <% end %>

        <%# RENDER EDIT BUTTONS %>
        <% if @resource.authorization.authorize_action(:edit, raise_exception: false) %>
          <% edit_buttons.each do |edit_button| %>
            <%= a_link edit_path,
              color: :primary,
              style: :primary,
              title: edit_button.title,
              data: {
                tippy: edit_button.title ? :tooltip : nil,
              },
              icon: 'edit' do %>
              <%= edit_button.label %>
            <% end %>
          <% end %>
        <% end %>

        <%# RENDER ACTIONS %>
        <% actions.each_with_index do |action, index| %>
          <% register_action(action, index + 1) %>
          <%= a_link action.path,
              color: action.color,
              style: action.style,
              icon: action.icon,
              title: action.title,
              data: {
                tippy: action.title ? :tooltip : nil,
                'turbo-frame': 'actions_show',
                'action': 'click->actions-picker#visitAction',
              } do %>
            <%= action.label %>
          <% end %>
        <% end %>

        <%# RENDER LINKS %>
        <% links.each do |link| %>
          <%= a_link link.path,
            color: link.color,
            style: link.style,
            icon: link.icon,
            title: link.title,
            target: link.target,
            class: link.class,
            data: {
              **link.data,
              tippy: link.title ? :tooltip : nil,
            } do %>
            <%= link.label %>
          <% end %>
        <% end %>

        <%# RENDER DETTACH BUTTONS %>
        <% if @reflection.present? && @resource.model.present? && can_detach? %>
          <% dettach_buttons.each do |detach_button| %>
            <%= a_button url: detach_path,
              icon: 'detach',
              method: :delete,
              form_class: 'flex flex-col sm:flex-row sm:inline-flex',
              style: :text,
              data: {
                confirm: "Are you sure you want to detach this #{title}."
              } do %>
              <%= detach_button.label %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <% if @reflection.present? && @resource.model.present? %>
          <% if can_detach? %>
            <%= a_button url: detach_path,
                icon: 'detach',
                method: :delete,
                form_class: 'flex flex-col sm:flex-row sm:inline-flex',
                style: :text,
                data: {
                  confirm: "Are you sure you want to detach this #{title}."
                } do %>
              <%= t('avo.detach_item', item: title).capitalize %>
            <% end %>
          <% end %>
          <%= render Avo::ActionsComponent.new actions: @actions, resource: @resource, view: @view %>
          <% if can_see_the_edit_button? %>
            <%= a_link edit_path,
                color: :primary,
                style: :primary,
                icon: 'edit' do %>
              <%= t('avo.edit').capitalize %>
            <% end %>
          <% end %>
        <% else %>
          <%= a_link back_path,
            style: :text,
            icon: 'arrow-left' do %>
            <%= t('avo.go_back') %>
          <% end %>
          <% if can_see_the_destroy_button? %>
            <%= a_link destroy_path,
              style: :text,
              color: :red,
              icon: 'trash',
              form_class: 'flex flex-col sm:flex-row sm:inline-flex',
              data: {
                turbo_confirm: t('avo.are_you_sure', item: @resource.model.model_name.name.downcase),
                turbo_method: :delete,
                control: :destroy,
                'resource-id': @resource.model.id,
              } do %>
              <%= t('avo.delete').capitalize %>
            <% end %>
          <% end %>
          <% if can_see_the_actions_button? %>
            <%= render Avo::ActionsComponent.new actions: @actions, resource: @resource, view: @view %>
          <% end %>
          <% if @resource.authorization.authorize_action(:edit, raise_exception: false) %>
            <%= a_link edit_path,
              color: :primary,
              style: :primary,
              icon: 'edit' do %>
              <%= t('avo.edit').capitalize %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if main_panel.present? %>
      <% c.body do %>
        <%# the overflow helps with long values %>
        <div class="divide-y overflow-auto">
          <% main_panel.items.each_with_index do |field, index| %>
            <%= render field
              .hydrate(resource: @resource, model: @resource.model, user: @resource.user, view: view)
              .component_for_view(view)
              .new(field: field, resource: @resource, index: index, compact: sidebar.present?)
            %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% if sidebar.present? %>
      <% c.sidebar do %>
        <%= render sidebar_component %>
      <% end %>
    <% end %>
  <% end %>
  <% if @reflection.blank? %>
    <%= content_tag :div, class: 'space-y-12 mt-12' do %>
      <% @resource.get_items.each_with_index do |item, index| %>
        <% next if item.nil? %>
        <%= render Avo::ItemSwitcherComponent.new resource: @resource, reflection: @reflection, item: item, index: index + 1, view: @view %>
      <% end %>
    <% end %>
  <% end %>
  <% if should_display_invalid_fields_errors? %>
    <turbo-stream action="append" target="alerts">
      <template>
        <% @resource.invalid_fields.each do |error| %>
          <%= render Avo::AlertComponent.new :error, error[:message] %>
        <% end %>
      </template>
    </turbo-stream>
  <% end %>
<% end %>
