<div
  data-controller="boolean-filter"
  data-filter-name="<%= filter.name %>"
  data-boolean-filter-keep-filters-panel-open-value="<%= @resource.keep_filters_panel_open %>"
>
  <%= filter_wrapper name: filter.name do %>
    <div class="flex items-center">
      <% if filter.options.empty? %>
        <div class="filters-section__empty-state"><%= filter.class.empty_message %></div>
      <% else %>
        <div class="filters-boolean-options">
          <% filter.options.each do |value, label| %>
            <label class="filters-boolean-option">
              <%= check_box_tag filter.id, value, filter.selected_value(value.to_s, @applied_filters),
                id: "avo_filters_#{filter.id.parameterize.underscore}_#{value}",
                'data-filter-class': filter.class,
                'data-boolean-filter-target': 'option',
                'data-action': 'input->boolean-filter#changeFilter'
              %>
              <span><%= label %></span>
            </label>
          <% end %>
        </div>
      <% end %>
      <%= link_to 'url_redirect', request.url, data: { 'boolean-filter-target': 'urlRedirect', 'turbo-frame': params[:turbo_frame] }, style: 'hidden', class: 'hidden' %>
    </div>
  <% end %>
</div>
