<% picker_id = "date-picker-#{filter.name.parameterize}" %>

<%= content_tag :div, data: {
    controller: "date-time-filter",
    filter_name: filter.name,
    date_time_filter_class_value: filter.class.to_s,
    date_time_filter_picker_options_value: filter.picker_options(@applied_filters[filter.class.to_s])
  } do %>
  <%= filter_wrapper name: filter.name do %>
    <div class="flex relative">
      <div class="self-center w-full" data-slot="value">
        <%= text_field_tag :value, "",
          class: input_classes("w-full mb-0 !pe-9 cursor-pointer#{" text-#{filter.class.color}-500" if filter.class.color}"),
          placeholder: filter.class.empty_message,
          readonly: true,
          style: "anchor-name: --#{picker_id}",
          data: {
            date_time_filter_target: "input",
            action: "click->date-time-filter#openCalendar",
          } %>
      </div>
      <%= content_tag :button,
        class: "absolute end-0 self-center me-4 uppercase font-semibold text-xs",
        id: :reset,
        type: :button,
        title: t("avo.reset").capitalize,
        data: {
          action: "click->date-time-filter#clear",
          tippy: :tooltip
        } do %>
        <%= svg "avo/times", class: "h-4" %>
      <% end %>
    </div>

    <div
      id="<%= picker_id %>"
      popover="auto"
      class="date-picker-popover"
      style="position-anchor: --<%= picker_id %>; position: fixed; inset: unset; top: calc(anchor(bottom) + 0.25rem); inset-inline-start: anchor(start); position-try-fallbacks: flip-block, flip-inline, flip-block flip-inline;"
      data-date-time-filter-target="calendarContainer"
    >
      <div data-date-time-filter-target="calendar"></div>
    </div>

  <% end %>
<% end %>
