<div
  data-controller="multiple-select-filter"
  data-filter-name="<%= filter.name %>"
  data-multiple-select-filter-keep-filters-panel-open-value="<%= @resource.keep_filters_panel_open %>"
>
  <%= filter_wrapper name: filter.name do %>
    <%= select_tag filter.id, options_for_select(filter.options.invert, filter.selected_value(@applied_filters)),
      class: input_classes('w-full mb-0'),
      multiple: true,
      id: "avo_filters_#{filter.id.parameterize.underscore}",
      'data-filter-class': filter.class.to_s,
      'data-multiple-select-filter-target': 'selector'
    %>
    <div class="flex justify-end">
      <%= a_button class: 'mt-4', color: :primary, size: :xs, data: { action: "multiple-select-filter#changeFilter" } do %>
        <%= "#{t("avo.filter_by")} #{filter.name}" %>
      <% end %>
    </div>
    <%= link_to 'url_redirect', request.url, data: { 'multiple-select-filter-target': 'urlRedirect', 'turbo-frame': params[:turbo_frame] }, style: 'hidden', class: 'hidden' %>
  <% end %>
</div>
