<div
  data-controller="select-filter"
  data-filter-name="<%= filter.name %>"
  data-select-filter-keep-filters-panel-open-value="<%= @resource.keep_filters_panel_open %>"
>
  <%= filter_wrapper name: filter.name do %>
    <%= select_tag filter.id, options_for_select(filter.options.invert, filter.applied_or_default_value(@applied_filters)),
      class: input_classes('w-full mb-0'),
      include_blank: '—',
      id: "avo_filters_#{filter.id.parameterize.underscore}",
      'data-filter-class': filter.class,
      'data-select-filter-target': 'selector',
      'data-action': "change->select-filter#changeFilter"
    %>
    <%= link_to 'url_redirect', request.url, data: { 'select-filter-target': 'urlRedirect', 'turbo-frame': params[:turbo_frame] }, style: 'hidden', class: 'hidden' %>
  <% end %>
</div>
