<div
  data-controller="text-filter"
  data-filter-name="<%= filter.name %>"
  data-text-filter-keep-filters-panel-open-value="<%= @resource.keep_filters_panel_open %>"
>
  <%= filter_wrapper name: filter.name do %>
    <%= text_field_tag filter.id, filter.applied_or_default_value(@applied_filters),
      class: input_classes('w-full mb-0'),
      id: "avo_filters_#{filter.id.parameterize.underscore}",
      'data-filter-class': filter.class.to_s,
      'data-text-filter-target': 'text',
      'data-action': 'keypress->text-filter#tryToSubmit'
    %>
    <div class="flex justify-end">
      <%= a_button class: 'mt-4', color: :blue, data: { action: "text-filter#changeFilter" }, size: :xs do %>
        <%= filter.button_label || "Filter by #{filter.name}" %>
      <% end %>
    </div>
    <%= link_to 'url_redirect', request.url, data: { 'text-filter-target': 'urlRedirect', 'turbo-frame': params[:turbo_frame] }, style: 'hidden', class: 'hidden' %>
  <% end %>
</div>
