<% if Avo.error_manager.has_errors? %>
  <% Avo.error_manager.all.each do |error| %>
    <% if error.is_a? Hash %>
      <% url, message, target = error.values_at :url, :message, :target %>
      <div class="inset-auto bottom-0 z-50 mb-4 w-full opacity-75 transition-opacity duration-150 hover:opacity-100">
        <a
          href="<%= url %>"
          target="<%= target %>"
          class="
            flex items-center space-x-2 rounded-sm bg-orange-700 px-4 py-2 text-sm leading-tight text-white
            rtl:space-x-reverse
          "
        >
          <%= svg "tabler/outline/alert-triangle", class: "h-6 inline me-2 text-bold shrink-0 me-1" %>

          <div>
            <%= simple_format message %>
          </div>
        </a>
      </div>
    <% elsif error.is_a? String %>
      <div class="inset-auto bottom-0 z-50 mb-4 w-full opacity-75 transition-opacity duration-150 hover:opacity-100">
        <div
          class="
            flex items-center space-x-2 rounded-sm bg-orange-700 px-4 py-2 text-sm leading-tight text-white
            rtl:space-x-reverse
          "
        >
          <%= svg "tabler/outline/alert-triangle", class: "h-6 inline me-2 text-bold shrink-0 me-1" %>

          <div><%= simple_format error %></div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
