<turbo-frame id="summary-frame-<%= @field_id %>" >
  <div class="grid grid-cols-12 items-center">
    <ul class="col-span-5" id="<%= @field_id %>-summary">
      <% @values_summary.each_with_index do |(key, value), index| %>
        <li class="font-normal normal-case grid grid-cols-6 gap-3">
          <div class="col-span-5 truncate">
            <span class="<%= "inline-block w-[0.75rem] h-[0.75rem] rounded-full bg-[#{chart_color(index)}]" %>"></span>
            <%= key %>
          </div>
          <div class="col-span-1">
            <%= value %>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="col-start-7 col-span-6">
      <%= pie_chart @values_summary, id: "chart-#{@field_id}", legend: false, height: "200px", colors: Avo.configuration.branding.chart_colors %>
    </div>
  </div>
</turbo-frame>
