<%
  classes = 'absolute inset-auto left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2'
  label = t 'avo.failed_to_load'
%>
<div class="relative flex-1 py-12">
  <div class="relative block text-gray-300 h-40 w-full">
    <%= svg 'avocado', class: "#{classes} h-20 text-gray-400" %>
    <%= svg 'code', class: "#{classes} h-8 -ml-20 -mt-12" %>
    <%= svg 'fire', class: "#{classes} h-8 -ml-10 -mt-24" %>
    <%= svg 'color-swatch', class: "#{classes} h-8 ml-8 -mt-24" %>
    <%= svg 'globe', class: "#{classes} h-8 ml-20 -mt-12" %>
    <%= svg 'library', class: "#{classes} h-8 -ml-20 mt-4" %>
    <%= svg 'photograph', class: "#{classes} h-8 ml-20 mt-4" %>
  </div>
  <div class="relative block text-center text-lg text-gray-400 font-semibold -mt-10"><%= label %> <%= params[:turbo_frame].to_s.humanize.downcase if params[:turbo_frame].present? %></div>
</div>
