<% if item.is_tool? %>
  <% if item&.partial.present? %>
    <%= render item.partial, tool: item %>
  <% end %>
<% elsif item.is_panel? && !item.is_base_panel %>
  <%= render Avo::PanelComponent.new(title: item.title, description: item.description, display_breadcrumbs: false, index: index) do |c| %>
    <% c.body do %>
      <div class="divide-y">
        <% item.items.each_with_index do |item_item, index| %>
          <%= render partial: 'avo/partials/item_switcher', locals: { item: item_item, index: index } %>
          <%#= render field.component_for_view(:show).new(field: field.hydrate(resource: @resource, view: :show, model: @resource.model), resource: @resource, index: index) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% elsif item.is_tab_group? %>
  <div class="space-y-12">
    <%# @todo: add turbo eager loading maybe %>
    <div>
      <% active_tab_name = params[:active_tab_name] || item.tabs.first.name %>
      <%
        if params[:tab_turbo_frame].present? && params[:active_tab_name].present?
          active_tab = item&.tabs.find do |tab|
            tab.name.to_s == params[:active_tab_name].to_s
          end
        else
          active_tab = item.tabs.find do |tab|
            tab.name == active_tab_name
          end
        end
        if active_tab.present?
          active_tab.parse
      %>
      <%= render partial: 'avo/partials/tabs_show', locals: { group: item, active_tab: active_tab } %>
    <% end %>
  </div>
</div>
<% elsif item.is_field? %>
  <%= render item.component_for_view(:show).new(field: item.hydrate(resource: @resource, view: :show, model: @resource.model), resource: @resource, index: index) %>
<% end %>
