<div
  class="fixed bg-white p-2 w-full flex flex-shrink-0 items-center z-50 px-4 border-b space-x-4 lg:space-x-0 h-16 <%= 'print:hidden' if Avo.configuration.hide_layout_when_printing %>"
  v-if="layout !== 'blank'"
>
  <div class="flex items-center space-x-2 w-auto lg:w-64 flex-shrink-0 h-full">
    <div>
      <%= a_button class: 'lg:hidden', icon: 'menu', size: :xs, compact: true, style: :text, data: { action: 'click->sidebar#toggleSidebarOnMobile' } %>
      <%= a_button class: 'hidden lg:block', icon: 'menu', size: :xs, compact: true, style: :text, data: { action: 'click->sidebar#toggleSidebar' } %>
    </div>
    <%= render partial: "avo/partials/logo" %>
  </div>
  <div class="flex-1 flex items-center justify-between lg:justify-start space-x-2 sm:space-x-8 lg:px-2">
    <%= render Avo::Pro::GlobalSearchComponent.new rescue nil %>
    <div class="m-0">
      <%= render partial: "avo/partials/header" %>
    </div>
  </div>
</div>
