<%
  sidebar_open_icon = 'layout-sidebar-left-collapse'
  sidebar_closed_icon = 'layout-sidebar-left-expand'
  sidebar_state = @sidebar_open ? 'open' : 'closed'
%>
<%= content_tag :nav, class: class_names("top-navbar", {"print:hidden": Avo.configuration.hide_layout_when_printing}) do %>
  <div class="top-navbar__start">
    <%# Mobile always needs a toggle to reach the overlay sidebar. Desktop toggle
        is optional and controlled by sidebar_toggle_visible. %>
    <%= a_button class: class_names("shrink-0 -ms-1.5 lg:ms-0", "lg:hidden": !Avo.configuration.sidebar_toggle_visible),
                 size: :sm,
                 style: :text,
                 padding: :sm,
                 data: {
                   action: 'click->sidebar#toggleSidebarForViewport',
                   sidebar_toggle_icon: true,
                   sidebar_state: sidebar_state
                 },
                 aria: { label: "Toggle sidebar" } do %>
      <span class="sidebar-toggle-icon sidebar-toggle-icon--open">
        <%= svg sidebar_open_icon, class: 'h-4 button__icon' %>
      </span>
      <span class="sidebar-toggle-icon sidebar-toggle-icon--closed">
        <%= svg sidebar_closed_icon, class: 'h-4 button__icon' %>
      </span>
    <% end %>

    <div class="top-navbar__logo">
      <%= render partial: "avo/partials/logo" %>
    </div>
  </div>

  <div class="top-navbar__center">
    <% if defined?(Avo::Pro::GlobalSearch::InputComponent) %>
      <%= render Avo::Pro::GlobalSearch::InputComponent.new(resource: @resource) %>
    <% end %>
  </div>

  <div class="top-navbar__end">
    <%= render partial: "avo/partials/header" %>
    <%= render Avo::Notifications::BellComponent.new if Avo.plugin_manager.installed?("avo-notifications") %>
    <%= render partial: "avo/partials/color_scheme_switcher" %>
  </div>
<% end %>
