<div class="application-sidebar flex h-full bg-white text-white w-72 z-50 border-r">
  <div class="flex flex-col w-full">
    <%= render partial: "avo/partials/logo" %>

    <div class="flex-1 flex flex-col justify-between">
      <div class="space-y-2">
        <div class="w-full">
          <%= render Avo::NavigationLinkComponent.new label: 'Get started', path: avo.root_path, active: :exclusive if Rails.env.development? && Avo.configuration.home_path.nil?  %>
        </div>

        <div class="w-full">
          <%= render Avo::NavigationHeadingComponent.new label: t('avo.resources'), icon: svg('resources-icon', class: 'h-4') %>
          <% Avo::App.resources_navigation(_current_user).sort_by { |r| r.navigation_label }.each do |resource| %>
            <%= render Avo::NavigationLinkComponent.new label: resource.navigation_label, path: resources_path(resource: resource) %>
          <% end %>
        </div>

        <div class="w-full">
          <% tools = Avo::App.get_sidebar_partials %>

          <% if tools.present? %>
            <%= render Avo::NavigationHeadingComponent.new label: t('avo.tools'), icon: svg('tools-icon', class: 'h-4') %>

            <% tools.each do |partial| %>
              <%= render partial: "/avo/sidebar/items/#{partial}" %>
            <% end %>
          <% end %>
        </div>
      </div>

      <%= render_license_warnings %>
      <%= render Avo::SidebarProfileComponent.new user: _current_user %>
    </div>
  </div>
</div>
