<%
  sidebar_open_icon = 'layout-sidebar-left-collapse'
  sidebar_closed_icon = 'layout-sidebar-left-expand'
  sidebar_state = @sidebar_open ? 'open' : 'closed'
%>
<div class="sidebar__header">
  <div class="sidebar__header-row">
    <%= render partial: "avo/partials/logo" %>

    <% if Avo.configuration.sidebar_toggle_visible %>
      <%= a_button class: 'sidebar__toggle hidden lg:inline-flex',
                   size: :sm,
                   style: :text,
                   data: {
                     action: 'click->sidebar#toggleSidebar',
                     sidebar_toggle_icon: true,
                     sidebar_state: sidebar_state
                   },
                   aria: { label: "Toggle sidebar" } do %>
        <span class="sidebar-toggle-icon sidebar-toggle-icon--open">
          <%= svg sidebar_open_icon, class: 'h-4 button__icon' %>
        </span>
        <span class="sidebar-toggle-icon sidebar-toggle-icon--closed">
          <%= svg sidebar_closed_icon, class: 'h-4 button__icon' %>
        </span>
      <% end %>
    <% end %>

    <%# Close button on mobile (sidebar visible only when open) %>
    <%= a_button class: 'sidebar__toggle lg:hidden',
                 size: :sm,
                 style: :text,
                 data: {
                   action: 'click->sidebar#toggleSidebarOnMobile',
                   sidebar_toggle_icon: true,
                   sidebar_state: sidebar_state
                 },
                 aria: { label: "Toggle sidebar" } do %>
      <span class="sidebar-toggle-icon sidebar-toggle-icon--open">
        <%= svg sidebar_open_icon, class: 'h-4 button__icon' %>
      </span>
      <span class="sidebar-toggle-icon sidebar-toggle-icon--closed">
        <%= svg sidebar_closed_icon, class: 'h-4 button__icon' %>
      </span>
    <% end %>
  </div>

  <% if defined?(Avo::Pro::GlobalSearch::InputComponent) %>
    <%= render Avo::Pro::GlobalSearch::InputComponent.new(resource: @resource) %>
  <% end %>
</div>
