<div style="padding: 2rem;" class="mx-auto">
  <%= render ui.panel(
    floating_sidebar: false,
    class: "mx-auto"
  ) do |panel| %>
    <% panel.with_header do %>
      <%= render ui.panel_header(
        title: "John Doe",
        description: "Some description here on maybe how to use the resource"
      ) do |header| %>
        <% header.with_avatar do %>
          <%= render Avo::AvatarComponent.new(
            type: "initial",
            initial: "JD",
            size: "medium"
          ) %>
        <% end %>

        <% header.with_controls do %>
          <div class="flex gap-3">
            <%= render Avo::ButtonComponent.new(label: "Label", size: :xs) %>
            <%= render Avo::ButtonComponent.new(label: "Label", size: :xs) %>
            <%= render Avo::ButtonComponent.new(label: "Label", size: :xs) %>
          </div>
        <% end %>

        <% header.with_discreet_information do %>
          <div class="flex gap-2">
            <%= render Avo::DiscreetInformationComponent.new(
              as: :key_value,
              key: "Status",
              text: "Active"
            ) %>

            <%= render Avo::DiscreetInformationComponent.new(
              as: :badge,
              text: "Verified",
              icon: "heroicons/outline/paper-clip"
            ) %>

            <%= render Avo::DiscreetInformationComponent.new(
              as: :text,
              text: "Last login: 2 hours ago"
            ) %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% panel.with_card(title: "Panel Title") do %>
      <%= render Avo::Fields::TextField::ShowComponent.new(field: Avo::Fields::TextField.new("email")) %>
    <% end %>

    <% panel.with_sidebar do %>
      <%= render ui.card(title: "Avatar") do |card| %>
        <% card.with_body do %>
          <%= render Avo::Fields::TextField::ShowComponent.new(field: Avo::Fields::TextField.new("created_at")) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
